[2014-04-16 17:47] jasonsanjose opened #1 "Ignore partials, files with leading underscore"
See http://sass-lang.com/documentation/file.SASS_REFERENCE.html#partials

[2014-04-16 17:51] jasonsanjose opened #2 "Implement selector highlighting"
TODO find core Brackets story for implementing simple selector parsing for LESS and SASS

[2014-04-16 17:52] jasonsanjose opened #3 "Add Ruby sass compiler option"
If the user has the `sass` command line tool installed, allow switching the compiler from the libsass compiler packaged with this extension.

[2014-04-16 17:54] jasonsanjose opened #4 "Show syntax errors in editor gutter, panel"
Leverage the `preview()` error callback to display compiler errors in the Brackets UI.

[2014-04-16 17:54] jasonsanjose opened #5 "Support SASS indented sytax"
Depends on https://github.com/jasonsanjose/brackets-sass/issues/3

[2014-04-16 19:14] larz0 opened #6 "Compiled css from @extend is a little strange"
[code]

Expected result:

[code]

[2014-04-21 18:44] lasharela opened #7 "Where can i see compilations error?"
have i possibility see scss compilation errors?

[2014-04-22 03:17] #7 closed, assigned to nobody

[2014-04-25 23:57] velvetkevorkian opened #8 "@imports break live preview on Windows"
Using `@import`s seems to have issues with live preview on Windows. I'm setting up a basic Foundation project and importing a single partial, `_grid.scss`. My main `style.scss` compiles fine on save (using both the extension and the regular Sass Ruby command line), and live preview works when the import is removed, but with it present each keypress results in the following error in dev tools:

[co

[2014-04-29 08:29] mrmckeb opened #10 "Minify compiled CSS"
As a developer, I would like SCSS compiled as both formatted and minified CSS - ready for uploading without any additional hassle.

Perhaps there's a way to interact with other plugins - for example, if popular minify plugin exists, run that plugin on this file.

Also, amazing work to date - I've learnt SCSS for this plugin!

[2014-04-29 15:24] Rad1calDreamer opened #11 "Open *.scss files in "quick edit""
Hi, can you add this?

[2014-05-22 16:34] AhoyLemon opened #12 ".brackets.json doesn't seem to be changing settings"
I'm guessing this is me doing something wrong, but I'm editing the .brackets.json file and it's not changing the output.

.brackets.json is located in the root folder, here's what I've got in it...

{
    "path": {
        /\* default options _/
        "frontend/scss/recon.scss": {
            "sass.enabled": true,
            "sass.options": {
                "output": "recon-sassy.css",

[2014-05-24 05:42] peiche opened #13 "Multiple assignment @each fails to compile"
Using this example: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#each-multi-assign

The compiler outputs: "error: expected 'in' keyword in @each directive"

[2014-05-25 12:32] ifraixedes opened #14 "should output options work?"
I tried to use the `output` option with a basic example and I couldn't get that it worked.

After debugging the code a bit, I found out that [line 78 in main.js file](https://github.com/jasonsanjose/brackets-sass/blob/master/main.js#L78) don't return back the options object, therefore the following line never returns the `output` options parameter.

I tinkered with the code for awhile, but I could

[2014-05-27 18:18] #10 closed, assigned to nobody

[2014-05-27 21:48] #12 closed, assigned to nobody

[2014-05-27 21:50] #1 closed, assigned to nobody

[2014-05-27 21:51] #4 closed, assigned to nobody

[2014-05-28 16:38] peiche opened #15 "includePaths option syntax?"
I've tried everything I could think of, but I cannot get the includePaths option to recognize included .scss files.

[2014-06-08 17:28] pmjcreations opened #17 "CSS Files are only updating after switching applications..."
Hai @jasonsanjose

I am using grunt-sass Version 0.13.1 for preprocessing scss files.
On My Windows computer, I can get the same css outputs in both Sublime Text 3 and Brackets 0.39.0 as well, except one feature.

In Sublime Text, I can see changes instantly by toggling scss files and css files without switching the editor to another application or windows.
But, in Brackets, I have only seen the c

[2014-06-09 18:43] fotan opened #18 "Did Brackets 40 break brackets-sass?"
I just started using Brackets, and I swear brackets-sass was updating the .css file in live preview last week.  This morning, I updated to Brackets 40 and my .css file isn't updating anymore.

Thanks for all the work on the plugin.  Hopefully it's an easy update.

[2014-06-09 18:56] #18 closed, assigned to nobody

[2014-06-17 15:25] jasonsanjose opened #19 "Timeout error"
Reported via YouTube https://www.youtube.com/watch?v=xSgkQc48aSw&google_comment_id=z13lw3crpyutv1y5004cgd3wbkrzjliek

I'm having a few problems with the compilation of scss files. I have installed your extension on brackets as well as node.js. My brackets.json is like this:

[code]

But is not compiling. When i open the scss file, after a while, it shows: "SCSS has timed out after waiting for 1000

[2014-06-18 06:01] Tusko opened #20 "Doesn't work with brackets-ftp"
Hi Guys! Your plugin doesn't work with https://github.com/theproducer/brackets-ftp.
When I'm save SCSS file, that's compile CSS great, but don't upload CSS file to the server.
Do you have some solution?

[2014-06-18 14:29] #20 closed, assigned to nobody

[2014-06-20 09:34] seungha-kim opened #21 ""sources" attribute in source map file is generated with absolute path"
![screen shot 2014-06-20 at 6 31 28 pm](https://cloud.githubusercontent.com/assets/767106/3338610/f3b057be-f85d-11e3-86d3-1e4e6383f59a.png)

[2014-07-14 09:12] schwabsimon opened #22 "compile scss files from one folder to another"
First, thank you for the extension.
On default the scss file gets compiled into the same folder as the new css file. When I have several scss files in the folder project/scss/ and I want to compile all into project/css/ can I define a general output folder?

[2014-08-04 07:28] Jordane-L opened #23 "Problem with output path"
Hi ! :)

Thanks for this plugin (0.2.1-0), I feel it will help me for the future. I detected a problem with my output path. When I save one of my sass file (style.scss, typography.scss,...), it saves in the sass folder. However, the output path is relative. To see the screenshot. If you have a solution. Thanks

![output-path](https://cloud.githubusercontent.com/assets/7188658/3794157/63b6e5ba-1ba8

[2014-08-04 16:18] #15 closed, assigned to nobody

[2014-08-04 22:11] #23 closed, assigned to nobody

[2014-08-04 23:39] Mark-Simulacrum opened #25 "SCSS file fails to compile"
On Ubuntu 14.04 (64bit) I get

[code]

whenever Brackets loads. Seems to be coming from brackets-sass (this extension) and does not allow file compiling.

I checked the source of the code (/main.js:285) and it seems to be brackets-sass' fault.

Here is my .brackets.json:
https://gist.github.com/Mark-Simulacrum/9348001b9ab5e5b750cb

[2014-08-04 23:51] #25 closed, assigned to nobody

[2014-08-07 03:24] #14 closed, assigned to nobody

[2014-08-07 18:18] #5 closed, assigned to nobody

[2014-08-07 19:09] sbruchmann opened #27 "Can’t update extension to 0.4.1+sha.fc425b5"
Hi @jasonsanjose,

although the update notification in Brackets’ extension manager correctly indicates that a new version of brackets-sass is available, I’m not able to download it. Reloading and/or restarting does not resolve this issue.

Brackets Version: Release 43 development build 0.43.0-0 (master bcf91c521)
Current brackets-sass version: 0.3.1-0

![Extension Manager: Download new version](ht

[2014-08-07 19:12] #27 closed, assigned to nobody

[2014-08-12 22:38] NicoM1 opened #28 "No compiler errors"
Seemingly, instead of showing me an error when the sass parser fails, all I get is: SCSS has timed out after waiting for 10000 ms

which can make it hard to nail down the problem...

I'm using the latest (stable, from the site) brackets release on Windows 8

[2014-08-18 19:14] awakekat opened #29 "Cannot uninstall"
Using Windows Vista, I cannot use the extension manager to remove, it just gives a generic error and says brackets will reload. I tried to manually uninstall via Help > show extension folder and deleting the folder itself and I was getting a permissions error. I came to give you this info and realized I had two copies of brackets open at the same time. I closed them both down reopened it and it wa

[2014-08-21 10:48] Tusko opened #30 "Doesn't work with Brackets 0.42"
I have extension error in v.42

[2014-08-22 16:25] ChrisGitIt opened #31 "No Map support for data type?"
Hi, i just installed this plugin and pasted the following line into a new .scss file:

$map:(key1:value1,key2:value2,key3:value3);
(taken from http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps)

While saving: error: error reading values after key1    $map:(key1:value1,key2:value2,key3:value3);

Any suggestions? Do i have a problem with my brackets, or is this type not supported? Cou

[2014-08-25 00:10] #22 closed, assigned to nobody

[2014-08-25 00:21] #21 closed, assigned to nobody

[2014-08-25 02:11] AlexeyMoiseev opened #33 "File is not monitored"
![snap](https://cloud.githubusercontent.com/assets/790623/4025539/ab16e280-2bfb-11e4-9f1f-51bc028c9030.png)
Welcome.
Tell me, please, what am I doing wrong?
I set up tracking and compiling only the style.scss, for the rest of the compilation is disabled. However, when i change any files compiles, but the main file is not modified.
Sincerely,
Alexey.

[2014-08-26 19:28] jasonsanjose opened #34 "Compass support"
libsass doesn't support Compass http://compass-style.org/ (or vice versa). See https://github.com/sass/libsass/issues/82#issuecomment-51095702.

Compass could be supported if we can leverage the work to swap in the ruby compiler https://github.com/jasonsanjose/brackets-sass/issues/3 to also support using the compass command line tools.

[2014-08-31 18:53] samvieten opened #35 "Fatal node-sass error: compiling ::selection"
[code]

Got this error by using:

[code]

::-webkit-selection,
::-moz-selection,
::-ms-selection,
::selection

causes this error.

[2014-09-05 19:58] herrherrmann opened #36 "State/feedback about compile success/errors"
I'd love to see a short status message about how the SASS compilation went, e.g. in form of a short popup (e.g. like Koala). It should state that the SASS compilation was successful or that there were errors occuring during the process.

![koala-sass-popup](https://cloud.githubusercontent.com/assets/6429568/4171012/062ebb7a-3539-11e4-90a1-0e414105f3b4.png)

I hope it is possible to include this fe

[2014-09-09 18:38] BenjaminSterling opened #37 "Live refresh not working"
I'm not sure what's causing this problem, but the scss compiles fine.

.brackets.json file:

[code]

File strcuture:

[code]

Dev tools screenshot:
![screenshot 2014-09-09 19 32 48](https://cloud.githubusercontent.com/assets/6513891/4206819/c6975552-384f-11e4-80c1-b6260126d639.png)

I also get this message when I open live refresh and try to make a change: SCSS has timed out after waiting for 1000

[2014-09-12 22:49] samvieten opened #38 "@import with Google Web Fonts pulls out an error"
file not found or not readable\* at simple Google Web Fonts @import url("...") :/

[2014-09-22 22:12] robhunt3r opened #39 ".brackets.json not doing anything"
I put .brackets.json file inside my root folder, restart brackets and everything but it doesn't work.

[code]

It is rendering inside `scss` folder instead of `css`, and also using `includePaths` isn't working either, as I need to use the full path inside my `@include` otherwise it won't work.

![captura de pantalla 2014-09-23 a la s 00 07 12](https://cloud.githubusercontent.com/assets/5111603/436

[2014-10-09 19:19] coheia opened #40 "Doesn't work with Brackets 0.44"
"Extension error" ??

[2014-10-14 02:03] 7immer opened #42 "How to @import "compass/css3"; minin's?"
In compass there is a css import for CSS3 cross-browser compatibility. How can I import it so this plugin/ brackets can see it?

Currently I'm getting: "error: file to import not found or unreadable: "compass/css3" @import "compass/css3";"

I'm new to compass so I'm hopefully just missing something.

Many thanks :)

[2014-10-14 18:13] jasonsanjose opened #43 "Support for Bourbon"
Investigate issues using Bourbon 3.2.x, see http://bourbon.io/ and https://github.com/thoughtbot/bourbon#installation
- [x] Create a boilerplate project in the issues repo https://github.com/jasonsanjose/brackets-sass-issues for testing

Tagging @ByteBlast

[2014-10-17 17:32] #17 closed, assigned to nobody

[2014-10-22 15:17] arpadgabor opened #44 "Getting error SIGSEGV also, how do I compile into .css?"
Just installed SASS, and installed it for Brackets too. Now, I get an error:

Fatal node-sass error, signal SIGSEGV

Also, how do I compile the SASS into CSS? Can't find anything on it anywhere.

[2014-10-22 15:38] #44 closed, assigned to nobody

[2014-10-24 19:12] stealerr opened #46 "Problems with vendor prefixes"
Usually i can write my keyframes like this:

+keyframes anim
    from
        +transform(scale(0))
    to
        +transform(scale(1))

And automatically this will create all the vendor prefixes that i would need. However the "+" doesn't seem to work in brackets compiler :-) Please do correct me if i am wrong

[2014-10-24 19:22] #46 closed, assigned to nobody

[2014-10-29 18:58] manavm1990 opened #47 "JavaScript Alert"
"You need to provide a path to the sass-convert program."

However, it seems to compile the scss into the css. It's just annoying to have this popup on each save. Ideas?

[2014-11-01 07:37] MrLoh opened #48 "Filter Function Conflict"
The fix for this Sass issue [https://github.com/sass/libsass/issues/15] is not fixed in this Plugin, maybe you need to update the Sass version. the Plugin still gives the error argument `$color` of `grayscale($color)` must be a color. It compiles fine with Sass now.

[2014-11-06 03:11] #43 closed, assigned to jasonsanjose

[2014-11-06 03:16] #42 closed, assigned to nobody

[2014-11-06 03:20] #40 closed, assigned to nobody

[2014-11-06 03:29] #39 closed, assigned to jasonsanjose

[2014-11-06 03:32] #37 closed, assigned to nobody

[2014-11-06 03:38] #35 closed, assigned to nobody

[2014-11-06 03:40] #33 closed, assigned to nobody

[2014-11-06 03:42] #31 closed, assigned to nobody

[2014-11-06 03:44] #8 closed, assigned to nobody

[2014-11-06 03:49] #19 closed, assigned to nobody

[2014-11-06 03:53] #13 closed, assigned to nobody

[2014-11-06 03:56] #28 closed, assigned to nobody

[2014-11-06 03:58] #11 closed, assigned to nobody

[2014-11-06 05:53] AlexeyMoiseev opened #50 "Compiling don't work for me (1.0.0-68)"
Hello.
I can't to compile "all.scss". Why?
BR.
![pic](https://cloud.githubusercontent.com/assets/790623/4931469/375ce904-6579-11e4-9a10-4b315a4c4205.png)

[2014-11-06 07:58] AlexArchive opened #51 "Not working on Windows with Brackets 1.0"
I installed the latest version of **Brackets** and the latest version of **brackets-sass** and now my `.scss` file - that compiled fine yesterday - doesn't compile anymore.

I get this error:

![](http://i.imgur.com/4ErE5EZ.png)

When I remove the `@import` at-rule, the error persists.

When I arbitrarily comment out more code, I get this error:

![](http://i.imgur.com/okBtmUJ.png)

In both cases,

[2014-11-06 15:09] #48 closed, assigned to nobody

[2014-11-06 19:08] #47 closed, assigned to nobody

[2014-11-06 20:21] jasonsanjose opened #52 ".zip build has too many files"
In 1.0.0-68 I had to manually remove unused files in `node_modules` to workaround a limit in the extension registry.

[2014-11-07 12:53] RafaelCz opened #53 "missing GLIBCXX_3.4.18 on Ubuntu 12.04"
Hi,
after updating to Brackets 1.0 and Backets SASS 1.0.0-68, I get this Error:

**Runtime error: Unable to load one of the modules: /home/rafael/.config/Brackets/extensions/user/jasonsanjose.brackets-sass/node/1.1.4/SASSDomain, reason: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.18' not found (required by /home/rafael/.config/Brackets/extensions/user/jasonsanjose.brackets-sass/

[2014-11-12 06:48] abogawat opened #54 "Noob question alert: What do I need to get this to work?"
I just installed Brackets on OSX, and jumped at this extension when I saw it. But it is not working for me, presumably because I don't have libsass (or node.js or anything like it) installed.

I've been trying to find how to install libsass, but it looks like no one has cared to explain it on the web, apparently because everyone trying to use it is supposed to know how.

Would you care to handhold

[2014-11-12 17:49] #54 closed, assigned to nobody

[2014-11-15 12:28] #36 closed, assigned to nobody

[2014-11-17 20:59] #51 closed, assigned to nobody

[2014-11-17 21:00] #52 closed, assigned to nobody

[2014-11-18 11:16] fynnit opened #56 "Update aint working"
Puts out this error
Runtime error: Unable to load one of the modules: /Users/Chuck/Library/Application Support/Brackets/extensions/user/jasonsanjose.brackets-sass/node/1.1.4-1/SASSDomain, reason: Command sass.render already registered

[2014-11-18 17:15] #56 closed, assigned to nobody

[2014-11-19 01:22] hkongm opened #58 ".brackets.json"
It is doesn't work, and .brackets.json just like sample file.

Files Directory:

[code]

the css file and map file still in the scss directory.

Please help.

Brackets 1.0.

[2014-11-19 03:22] #58 closed, assigned to nobody

[2014-11-19 20:13] bhouszka opened #59 "Some files are not compiled"
Hi,

I was successfully using your plugin for some time, but today it occured one of my files is not compiling.  It is main .scss file with around 30 files included. I have not made any changes to brackets.json. Could you please tell me how to find what can be wrong?

[2014-11-19 20:20] #59 closed, assigned to nobody

[2014-11-19 21:53] CydGoblin opened #60 "Comments on compiled file"
I'm getting comments on compiled files something like
/\* line 20, /Users/Desktop/Web/l/css/lib/variables.scss */

is there a way to stop it?

[2014-11-19 22:04] #60 closed, assigned to nobody

[2014-11-20 12:52] Jehu opened #61 "Allow base path for sourcemapping"
sources are relative to project path.
Would be nice to configure a base path for them, because my bracket project is just a subfolder in an cms theme.

[2014-11-21 07:19] Equals182 opened #62 "Reading events from another extension"
Hey :)
I just wondering if it's possible for another extensions to read events from your extension.
Straight to the point, I want to add feature for my eqFTP extension that will allow people to upload compiled files right after saving scss/sass files. Like, you know, ctrl+s on sass and bam - uploading compiled css.
I don't know who to ask about it, so I decided to try here, since you're brackets-s

[2014-11-21 18:00] #50 closed, assigned to nobody

[2014-11-21 18:05] #62 closed, assigned to nobody

[2014-11-21 21:27] bhouszka opened #63 "What is the way to find an issue in big file."
Hi,

I have a file which includes about 20 other files. I made some minor changes in few of them and the main file does not compile now. I cannot find the cause. I know there is this icon showing if scss file has any errors but:
 1: scss files always show an error as I have mixins and variables defined in separate file which is included only in the main file.
1. the scss errors section show only o

[2014-11-23 20:01] bhouszka opened #64 "invalid property name body.class-name {"
Hi,

One of my scss files are not compiling and the following issue is displayed:

*invalid property name body.class-name {*

According to my knowledge it is allowed to apply class to body, therefore I believe this is a bug.

[2014-11-24 18:19] mikriot opened #65 "False error message (@import rule)"
If the project located is not on the system drive, I get this error:

![error](https://cloud.githubusercontent.com/assets/7242985/5169502/d80525da-7418-11e4-919d-9193c1e8edd6.png)

although the compilation goes well:

scss

![scss](https://cloud.githubusercontent.com/assets/7242985/5169506/da8fc56c-7418-11e4-93f1-5f73b87df3d5.png)

css

![css](https://cloud.githubusercontent.com/assets/7242985/517

[2014-11-28 07:55] ghost opened #66 "SCSS Problem"
hi,
i just had problem with mixin.
its just when i include the mixin in the scss file, it works in the live preview of brackets but when i try to compile the file and save it , an error message shows up

This is the error message
no mixin named box-shadow    @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);

I am attaching a snapshot please check it
![error snapsho

[2014-11-29 22:15] Hobokens opened #67 "configuring output"
Hi,
I'm sorry, I'm new to brackets-sass and I can't figure out how to configure the right path for the css files. They are always saved in the same directory as the scss files
I use brackets v1.0 with win 8.1.
I write into the bracket.json (C:\Users\Thomas\AppData\Roaming\Brackets\brackets.json) the following:

{
    "styleActiveLine": true,
    "closeBrackets": true,
    "linting.collapsed": true

[2014-11-30 12:14] #67 closed, assigned to nobody

[2014-12-04 15:42] artipixel opened #68 "Saving included files doesn't compile main.scss + it compiles itself"
Hi,
When I'm trying to save some included sass files, it compiles itself, although I specifically disabled this option. additionally, it doesn't compile the main file - main.scss. I need to save 2 files very time I make a change, and I get weird errors as well, like this one -
![image](https://cloud.githubusercontent.com/assets/6322237/5300677/d3efe600-7bda-11e4-8c63-19fffdcf05e5.png)
Alltogh ther

[2014-12-06 17:44] sbgraphicdesign opened #69 "ImagePath"
Although I'm still learning how to uses sass, it would appear that  the imagePath function in my brackets.json file does not work. No matter what I enter in that file all I get on the resulting css file is "/" in front of the image filename.

Everything else appears to work as it should, and I'm unsure whether it's something to do with my sass installation or related to brackets-sass. I'm using Br

[2014-12-11 08:13] stoufdev opened #70 "sourceComments="?""
In my .brackets.json, the sourceComments="map" !
When i choose for option none or normal, nothing changes in css.
There is always comments.
My instal is clean, just 2 plugins :  brackets.sass and Extract for Brackets.
Working with 1 html, and 1 scss, that's all.

I'm on OSX 10.8.5.
And brackets is : Version 1.0 version 1.0.0-15191 (release 3f2eb90a4)
Horodatage de la version : Fri Oct 31 2014 14:2

[2014-12-19 08:41] aphex13 opened #71 "non-terminal statement or declaration must end with ';'"
Hi!

when i#m compiling a sass file with a gradient from http://www.colorzilla.com/gradient-editor/ i get an error  at this line:

SCSS file:

[code]

Error:

[code]

Editor Brackets Release 1.0 Build 1.0.0-15191
Brackets SASS 1.0.2-77
Node v0.10.33

any hints?
thank you!

best regards
gernot

[2014-12-22 13:33] kalebDavenport opened #72 "Nothing when I open live preview."
I downloaded the extension on our laptop, and it worked great. Then I downloaded it to my desktop, and  it is not working at all. I have tried re-installing it but nothing has changed. If there is someone else I need to contact let me know. Thanks,
Kaleb Davenport

[2014-12-23 00:33] kimda90 opened #73 "Live preview was canceled for an unknown reason ({0})"
Hello,

the sass compiler is not working after the lastest update.
Making any changes in a scss file will return this error message:
"Live preview was canceled for an unknown reason ({0})"

Brackets Release 1.1 build 1.1.0-15558
Brackets SASS 1.0.2-77
Mac OS X Mavericks 10.9.5

[2014-12-25 08:15] bhouszka opened #74 "Issue with configuration file"
Hi, some time ago I have configured brackets-sass and it was compiling correctly. Recently I have changed my document folder structure, and now it is not working anymore.

My folder structure is following:

- main folder
   - .brackets.json
   - template-files
      - css
      - scss
         - main.scss

My .brackets.json file is following:

    {
    	"path": {
    		"./template-files/scss/main

[2014-12-26 07:24] bhouszka opened #75 "Invalid property name"
Hi,

I have an SCSS file which looks following:

    @import '../helpers/mixins.scss';
    @import '../helpers/variables.scss';
    .primary-tomatored {
        ...
    }

When I try to compile this file it doesn't work. When I check for the errors it says that:

    3 invalid property name	.primary-tomatored {

What could be invalid in my scss file? How can I fix this?

[2014-12-26 07:26] #63 closed, assigned to nobody

[2015-01-02 15:31] Dexyne commented on #68
I'm having a similar issue, when saving my file with import rule it's not working correctly and see the same message as the first post.

- I try the solution given by @cosmefae because compiling with another name is not working
- Using **app.sass** not working too, only **SCSS** works for me.
- I try to include in .brackets.json something like this ``` "partials/*.sass": { "sass.enabled": false }

[2015-01-04 21:45] kevdesdev commented on #74
+1 Having the same problem. Moving the .brackets.json file around the project directory didn't work.

To keep my file structure intact for the time being I just did quick hack by adding @import reference in the 'supposedly compiled' css file to the actual file that brackets-sass compiled. It works with Live Preview too.

[2015-01-07 14:00] Edwingi commented on #29
Seems this has returned.
Having the same problem as stated above.

[2015-01-07 14:02] Edwingi opened #76 "Install and then what?!"
Just installed it through the extension manager but what am I supposed to do next?
It's not compiling my files on save and the readme.md over here isn't really telling me which steps to take either.

[2015-01-08 14:16] mikriot commented on #76
As an sample, you can download the [project using Bourbon](https://github.com/jasonsanjose/bourbon-example)

[2015-01-14 06:21] modymok opened #77 "Every thing is working, But!!!"
Hi,

i have a weird issues here, every thing is work but when i edit the .scss file an notification comes saying "SCSS Lint has timed out after waiting for 10000 ms"

And is the a way to get code hinting of the bourbon lib in brackets ??

[2015-01-15 12:03] ankvell commented on #77
have the same error

[2015-01-16 09:31] #75 closed

[2015-01-16 09:31] #64 closed

[2015-01-19 10:54] jasonsanjose commented on #68
@artipixel I think your `.brackets.json` file is wrong. You're specifying a path `media/scss/*.scss` inside another path `media/scss/main.scss`. This is invalid. I think what you want is below:

[code]

However, in addition to the `.brackets.json` problem, there is a bug here even with the correct JSON where the main file doesn't get compiled. I'll have a fix soon.

[2015-01-19 11:05] jasonsanjose commented on #74
@bhouszka Typo? You said the folder is "template files" but your .json example shows `template-files` with a hyphen.

[2015-01-19 11:06] jasonsanjose commented on #77
@modymok are you using Compass? Unfortunately libsass doesn't return detailed error messages when it encounters unknown syntax.

[2015-01-19 11:09] jasonsanjose commented on #71
Looks related to https://github.com/sass/libsass/pull/685. Will need to integrate the latest libsass and test. Tagging triaged.

[2015-01-19 11:11] jasonsanjose commented on #65
@mikriot can you still reproduce this?

[2015-01-19 11:13] jasonsanjose commented on #3
@nicolo-ribaudo Not currently. If you would like to contribute, let me know and I can try to give you some tips.

[2015-01-19 11:25] jasonsanjose commented on #68
Fixed in #78, version 1.0.3-80.

Here's an alternative `.brackets.json` that disabled SASS compiling by default, then enables it just for your root level file:

[code]

[2015-01-19 11:52] bhouszka commented on #74
Hi @jasonsanjose,

I had a typo in the comment above (corrected now). The folder name is template-files and it is correctly written in config file. I have checked it at least 10 times :)

[2015-01-19 15:32] Turqueso commented on #74
@bhouszka I have a similar structure and it's working. I see you have
```"./template-files/scss/main.scss": {```
I think it should be
```"template-files/scss/main.scss": {``` ?

Also take a look at #70

[2015-01-19 15:41] bhouszka commented on #74
@Turqueso

    "./template-files/scss/main.scss"
and
    "template-files/scss/main.scss"
is the same. But for some reason this was causing the issue. Now it works. Thank you!

[2015-01-20 06:28] modymok commented on #77
@jasonsanjose no i m not using Compass!, is there any intellisense for it

[2015-01-20 12:14] aivascu opened #79 "@import '_file.scss'; not working"
Might be a noobish misunderstanding, but importing a dependency file doesn't work for me.
When trying to import a partial scss file I'm getting the 'file to import not found or unreadable' error.
The main scss file and the partial file are in the same directory.

[2015-01-20 12:25] jasonsanjose commented on #79
No need to add the underscore or the file extension for partials. Try `@import "file"`.

[2015-01-20 12:59] aivascu commented on #79
Thanks Jason!
It still gives me the error but at least it generates the *.css file correctly.
Also in live preview the changes in the imported *.scss file don't apply until the importing file is changed(re-saved).

[2015-01-20 14:53] mikriot commented on #65
@jasonsanjose I'm still getting this error :(

[2015-01-20 18:24] Belkar commented on #68
The last update just made it worse for me. I tried the config you provided here: https://github.com/jasonsanjose/brackets-sass/issues/68#issuecomment-70479171 but I can't get it to work. (I changed the folder names but everything else is the same)

My folders look like the following:
[code]
My app.scss just consists of @imports but changing a file in the subfolder "imports" doesn't cause app.scss

[2015-01-20 20:28] Belkar commented on #79
Same problem here. This makes developing and styling tedious

[2015-01-21 04:28] jasonsanjose commented on #75
@bhouszka did you figure out the issue? I see you closed this bug recently.

[2015-01-21 04:43] jasonsanjose commented on #68
@Belkar that sample was just for @artipixel. Looking at your example, you'll want a `.brackets.json` file that looks like this

[code]

[2015-01-21 05:06] jasonsanjose commented on #65
@mikriot did you try updating to the latest version 1.0.3?

[2015-01-21 05:19] jasonsanjose commented on #65
You could also try syncing to the latest https://github.com/jasonsanjose/bourbon-example. I updated it to include a local partial file for importing.

[2015-01-21 05:20] jasonsanjose commented on #79
Could you try syncing to the latest https://github.com/jasonsanjose/bourbon-example. I updated it to include a local partial file for importing.

[2015-01-21 05:35] jasonsanjose commented on #70
Thanks, @liouh! I missed this change when upgrading to node-sass 1.1.0 https://github.com/sass/node-sass/tree/v1.1.0. I'll update the `README`.

Sorry for the confusion.

[2015-01-21 06:15] #70 closed

[2015-01-21 06:25] jasonsanjose commented on #65
@mikriot nevermind. I found an issue where the node-sass binary wasn't updated on mac...are you on a mac? Anyway, please try the latest version 1.0.4-83 available in the extension registry and let me know how that works.

[2015-01-21 06:27] jasonsanjose commented on #70
I've updated the README and also updated the example project https://github.com/jasonsanjose/bourbon-example.

[2015-01-21 06:29] jasonsanjose commented on #60
@Le4nder it should be `"sourceComments`: false`. I've updated the readme and the example.

[2015-01-21 06:30] jasonsanjose commented on #79
@Belkar also please try the latest 1.0.4-83 update. Are you on mac or win?

[2015-01-21 06:31] jasonsanjose commented on #77
@modymok can you update to the latest 1.0.4-83? The update is in the extension manager now.

[2015-01-21 06:32] jasonsanjose commented on #76
@Edwingi were you able to try the example project yet? Also, I pushed an update today that fixes a major bug on mac. Please try the latest 1.0.4-83.

[2015-01-21 06:32] jasonsanjose commented on #74
Closing. Thanks for the help @Turqueso

[2015-01-21 06:32] #74 closed

[2015-01-21 06:34] jasonsanjose commented on #72
@kalebDavenport are you on mac or win? I just fixed a major issue on mac and posted an update 1.0.4-83.

[2015-01-21 06:35] jasonsanjose commented on #61
@Jehu or @artipixel do you have an example I can take a look at?

[2015-01-21 06:37] jasonsanjose commented on #38
Looks fixed to me in 1.0.4-83. @StDako or @samsblog, can you update and let me know if it works?

[2015-01-21 07:48] aivascu commented on #79
Updated the extension, still getting the same behavior.
Bourbon has the same behavior too.
I am running Windows 8.1.
![image](https://cloud.githubusercontent.com/assets/7030530/5832748/6de5dffc-a152-11e4-844d-c61849d2799f.png)

[2015-01-21 08:56] jasonsanjose commented on #79
Hmm. I'm on windows and I'm still not seeing an issue. Have you tried quitting and restarting Brackets?

[2015-01-21 09:10] Belkar commented on #68
Thanks for the fast reply but i can't get it to work.
I'm on Windows using your latest version (1.0.4-83)

Saving app.scss works but changing something in imports/*.scss doesn't cause it to recompile

[2015-01-21 09:13] artipixel commented on #68
Also thanks,
I will test it as soon as I can,
The website is in production and I had to use an external compiler :(

[2015-01-21 09:15] Belkar commented on #79
Thanks it works now :smile:

[2015-01-21 09:28] aivascu commented on #79
@jasonsanjose yes I restarted Brackets several times. Haven't tried a reinstall though. That usually cuts it with programs on Windows.
Here is a demo of my problem.

![brackets](https://cloud.githubusercontent.com/assets/7030530/5833852/28101ade-a160-11e4-9ded-3f8388de8de0.gif)

@Belkar what OS are you running?

[2015-01-21 09:36] Belkar commented on #79
I'm using Windows 8.1.

[2015-01-21 10:52] aivascu commented on #79
So I tried several things. I uninstalled Brackets; removed the installation folder from Program Files; cleaned the registries, the temp files and the Roaming folder; Installed Brackets; Installed brackets-sass.
Not sure which one of this things helped but it works for me too. I'm still getting the false error but at least it updates the partial styles in live preview.
@Belkar it worked for me with

[2015-01-21 11:03] jasonsanjose commented on #79
Glad it's working for you. Sorry for the extra trouble. Closing.

[2015-01-21 11:03] #79 closed

[2015-01-21 21:53] mikriot commented on #65
No. I use windows.

I updated brackets-sass and downloaded latest version bourbon-example, but the error persists.

[2015-01-22 05:48] modymok commented on #77
Thanks

[2015-01-22 05:48] #77 closed

[2015-01-23 12:29] lucascosta commented on #8
I'm having the same problem in Windows 8 and Boostrap. When I change a variable in the _variables.scss file the Live Preview breaks down. Is there any way I could get you more information?

[2015-01-24 19:19] gbggit commented on #65
I have the same problem on Windows7, latest editor and brackets-sass version.

I accidentally open my css source map and there I found that the generated path is wrong - it search first in C:/, but my project is in D:/. The file looks sth liek this:

{
  "version": 3,
  "file": "01_style.css",
  "sources": [
    "01_style.scss",
    "C:/D:/imports/_reset.scss",
  ]
...
}

If I move my project in C

[2015-01-24 23:20] equinox opened #81 "Errors on install and uninstall."
I tried this out just before the last update to it, since then, when it updated it gave me an error saying it couldn't install the update then just now when trying to uninstall it's again giving me an error saying it cannot uninstall it.

I'm using Brackets 1.1 and Windows 7.

[2015-01-26 16:09] yukulele opened #82 "error on load scss file"
Runtime error: Unable to load one of the modules: /Users/Clarisse/Library/Application Support/Brackets/extensions/user/jasonsanjose.brackets-sass/node/1.1.4-3/SASSDomain, reason: dlopen(/Users/Clarisse/Library/Application Support/Brackets/extensions/user/jasonsanjose.brackets-sass/node/1.1.4-3/node_modules/node-sass/bin/darwin-ia32-v8-3.14/binding.node, 1): Library not loaded: /usr/lib/libc++.1.dy

[2015-01-26 16:27] Turqueso opened #83 "Live preview not working with Cross-Browser Live Preview"
When enable the new Cross-Browser Live Preview it updates until save and there is no highlighting

[2015-01-26 17:31] Turqueso commented on #66
I have some similar problem. My files are something like this
[code]

So if I use the mixin inside _header.scss I get the same error as @layersstudio I don't know if he has some similar folder structure.

Tried a few things:
* If mixin is used on main.scss it works as expected
* importing mixins to header works without error but live preview doesn't work, it works on save

[2015-01-26 17:34] jasonsanjose commented on #83
Updated issue title to indicate that the experimental `livedev.multibrowser` setting is not currently supported in 1.0.4.

[2015-01-26 17:56] jasonsanjose commented on #65
Thanks for hte updates @mikriot and @gbggit. I'll investigate more.

[2015-01-27 18:37] byrne-asi commented on #76
The README.md here isn't helpful at all (sorry for that).. could you create a more detailed or step-by-step instructions on HOW TO ACTUALLY USE your extension?

Don't get me wrong, I'm not totally new to SASS or Brackets, but here is my situation why I got here:
-I'm following a strict company policy that won't allow me to install Ruby or any SASS compiler, so I want an independent SASS compiler e

[2015-01-27 19:12] Turqueso commented on #76
@byrne-asi  You just install it on brackets, write something on sass and it compiles on a file with the same name in the same folder but with .css (unless you change this with the config with json - the example is on readme.md). Bourbon is optional, a framework for sass like many others.

Make sure you have the last version of brackets and this extension.

I'm totally new to sass too, my base was

[2015-01-27 19:45] jasonsanjose commented on #76
@byrne-asi the example project https://github.com/jasonsanjose/bourbon-example is all ready to go, no additional setup required. The (https://github.com/jasonsanjose/bourbon-example#initial-setup)[initial setup] you refer to is only there if you need to recreate a similar project on your own.

As @Turqueso said, the idea is that you valid SASS will compile and create a .css file in the same folder

[2015-01-28 02:20] panablue commented on #73
If it helps anyone, I had the same issue but it was resolved after removing several long data URIs.

[2015-01-28 08:34] medianton opened #84 "Unable to install after update"
After months of usage without any problem, I tried to update the extension via Brackets' extension manager, it failed, and now I'm unable to install the 1.0.4 version via manager nor manually.

Windows 8.1 user.

[2015-01-28 15:34] byrne-asi commented on #76
Sorry for the confusion guys, I didn't explain myself properly.

 @Turqueso yes I'm well aware about the compiling thing and the auto-update on the css if you edit on your sass files. I also followed everything on the README.md

@jasonsanjose what I mean is that I don't want to install anything other than an extension for brackets. And I can see that this extension is exactly what I'm looking for.

[2015-01-28 16:32] jasonsanjose commented on #84
Thanks for reporting this @medianton. Have you restarted brackets yet?

If not, could you try looking at the console log `Debug > Show Developer Tools` and paste that into a comment here?

[2015-01-29 01:33] jremydeaton opened #85 "No live preview until file is saved."
While this is not really a huge deal, It doesn't work as demonstrated in the video. Making changes to my main "style.scss" or included paths files, I get no live preview unless I save. Tried with my own project as well as the example project. This is the same for both Mac and Windows. Using the Brackets default live preview.

Another question... Not sure is this is a factor but my file structure i

[2015-01-29 10:00] romanv61 opened #86 "compiled Sass adds line numbers before each selector"
Hi everyone,
i'm using Brackets (Release 1.1 build 1.1.0-15558) with Brackets SASS (1.0.4-83)

Each Sass file compiled into css looks weird to me,
before each selector a comment + line number + path is added,

How can I change it, so that I wouldn't see these comments in the compiled CSS file?

Sample:

/* line 15, Z:/DESIGN/Roman/mm/website/cf/html/css/style.scss */
.topNav {
  font-family: 'Open

[2015-01-29 18:39] nicolo-ribaudo commented on #86
Just create a `.brackets.json` file at the root of your project with this content:
[code]

[2015-01-29 18:45] nicolo-ribaudo commented on #81
You can uninstall the extension by deleting the `C:\Users\<Your Username>\AppData\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass` folder.

[2015-01-29 18:56] jasonsanjose commented on #81
@Equinoxdawg If you could send me the errors you get on uninstall, that would be great.

1. Debug > Show Developer Tools
2. Try Uninstall
3. Copy console log from dev tools

Thanks!

[2015-01-29 19:31] panablue commented on #68
I continue to have this issue: **saving a partial/imported SCSS file doesn't trigger a recompile of the main SCSS file and update of the live preview**.

Here's my .brackets.json:
{
	"sass.enabled": false,
    "path": {
        "scss/master.scss": {
            "sass.enabled": true,
            "sass.options": {
                "output": "../styles.css",
                "includePaths": [],

[2015-01-29 20:43] nicolo-ribaudo commented on #3
I'm working on this feature.

Just a question: how should the user choose which compiler to use?
What about a `sass.compiler` option whose value can be `libsass` (default) or `ruby`?

[2015-01-29 21:08] jasonsanjose commented on #3
@nicolo-ribaudo `sass.compiler` is perfect. Let me know if I can help. Are you just using a shell via node to call the ruby compiler?

[2015-01-30 08:01] Equinoxdawg commented on #81
I had done what you suggested Nicolo just after posting this issue, thankfully it worked. I have no reinstalled and was able to reproduce. I opened the dev tools, but there was nothing new between opening the tools and it giving me the error and reloading anyway. It now shows after reload: " GET file:///C:/Users/name/AppData/Roaming/Brackets/extensions/user/jasonsanjose.brackets-sass/main.js net::

[2015-01-30 10:44] andrerogers21 opened #87 "Access a partial within a partial"
My folder structure for sass is as follows,

    sass
         |-> includes
                  _config.sass
                  _base.sass
                  _reset.sass
                  _utilities.sass
                  _helpers.sass
                  _main.sass
         style.sass

I have a bunch of variables declared in my _config.sass file, but am not able to access them in any of the other parti

[2015-01-30 11:12] nicolo-ribaudo commented on #3
Yes, I'm using the `child_process.exec` method.

I only don't know how to implement the `imagePath` option... it seems that
sass doesn't implement this tool natively. Maybe we can copy the [Compass'
implementation](
https://github.com/Compass/compass/blob/350bcaa544f594bca972aaa29a9bdfddceee5d4f/core/lib/compass/core/sass_extensions/functions/urls.rb#L112)?
(Although I don't know how to do)

Il gi

[2015-01-30 13:30] nicolo-ribaudo commented on #3
What I have done for now: [nicolo-ribaudo/brackets-sass/tree/ruby-compiler](https://github.com/nicolo-ribaudo/brackets-sass/tree/ruby-compiler)

What doesn't work:
- `imagePath`
- Live Preview:
  I think that is because of the long time that Ruby takes to compile the file (more than a second). However, when you hover a selector in the scss code, it is highlighted in the browser.

[2015-01-30 13:45] lucascosta opened #88 "Wrong line number on chrome sourcMapping"
Line numbers on Chrome always show the last line in the scss. Example:
[code]
Both the html and body background properties are mapped to **theme.scss:5**

My `.brackets.json`

[code]

I'm on Windows 8.

[2015-01-30 17:16] jremydeaton commented on #85
Found out what the issue was. The line endings changed in the .brackets.json file when I pushed it up to my git repository, which caused this problem. I recreated the file from scratch and had no issues....
That is until I pushed the project up to my repository (at work from Windows machine). When I got home and pulled it on my Mac, I encountered a new error: It KILLED the live preview completely.

[2015-01-30 17:16] #85 closed

[2015-01-30 18:18] jasonsanjose commented on #85
@jremydeaton that's odd. Line endings shouldn't do that. Perhaps there was something else that changed other than line endings that made the JSON syntax invalid?

[2015-01-30 18:23] jremydeaton commented on #85
Well it seemed to fix the issue. However, I'm looking to see if another extension could have caused a conflict. Like the git extension itself, as it is the only difference between the two machine brackets install.

[2015-01-31 03:12] #82 closed

[2015-02-01 00:23] tijtij opened #89 "Path issue in Windows"
Don't know if this is an issue with the Bourbon example, brackets-sass, or libsass but compiling is broken when the project files are located on my D drive.

This is what `app.css.map` looks like:

[code]

Previously reported in issue https://github.com/jasonsanjose/brackets-sass/issues/21#issuecomment-64128971

[2015-02-01 01:06] AntonVoltchok commented on #84
Same exact problem, I get error when adding the extension, and now I can't remove the extension either, it just says it will reload without removing. I tried both app manager inside brackets and from github, neither work, and I still can't remove it, just says error. I tried uninstalling and re-installing brackets, that didn't work either as I'm getting the exact same problem. I'm on windows 7, so

[2015-02-01 01:40] AntonVoltchok commented on #84
Ok so here is a little update, I stopped using bourbon but never removed the path in brackets.json to bourbon, after I cleared the "includedPaths" it finally let me cleanly install the SASS plugin. So at least that solves 50% of the problem and I can stop panicking because at least I can compile.

So the only problem I have now is that Live Preview crashes instantly the second I type anything into

[2015-02-01 03:29] AntonVoltchok commented on #84
Found a little hack around the problem:

medianton - first uninstall brackets, then reinstall it, if you still have the corrupted SASS plugin installed at this point it should let you cleanly remove it. Once removed, AGAIN uninstall and reinstall brackets. Then install the SASS plugin.

Now hit live preview, if you don't have have any issues, great, but if live preview crashes when sass tries to c

[2015-02-02 11:52] andrerogers21 commented on #87
I even tried using the following project (https://github.com/jasonsanjose/brackets-source-map-demo-files) to see if I get any of the above errors, and I do.

It seems like the contents of individual partial files are not being included in the rest. So for example if I declare variables in _config.sass and try to use those variables for the mixins in _mixins.sass, they cannot be  used and throw an

[2015-02-02 14:25] nicolo-ribaudo commented on #87
Can't reproduce.

I can compile brackets-source-map-demo-files and a test I wrote (https://gist.github.com/nicolo-ribaudo/f16caa7ff30ec9835a00) both.

[2015-02-02 17:38] andrerogers21 commented on #87
I re-installed the extension. It worked. I feel like an idiot for not doing that sooner.

[2015-02-05 19:16] Turqueso opened #91 "live preview from partials"
I'm not sure if this is normal o if i'm explaining myself right, so bear with me please.

I have some similar structure
[code]

If I have a main file with all my partials imported, when modifying a partials, changes won't compile until save; so live preview won't show until save.

[2015-02-12 18:31] nicolo-ribaudo opened #92 "Set an output directory for sourcemaps."
(Maybe duplicate of #61?)

The location of source maps is bound by the location of css files.
If I want to save source maps and css output in two different folders, I have to do something like:
[code]

(The project tree is
[code]
)

Would be nice to set the folder only once:
[code]

[2015-02-12 18:51] sausagecreature opened #93 "Lint time out again."
Hi Jasonsanjose, sorry to ask this again> I have googled on the topic and I searched this thread but haven't found a solution.
I am using bitnami for Wordpress, with Prepos and Brackets where Lint is trying to compile my changes. I am very new to all of this, so I will do my best to explain.
I installed into Windows 7 today, all the latest versions available from the official downloads sites.

For

[2015-02-12 19:19] sausagecreature commented on #93
update: I have decided to re-install all the software I am working with, prepros, bitnami, brackets and start again from scratch and see if I get a different response. I will update as soon as I have something more to add. Thanks.

[2015-02-13 15:23] sausagecreature commented on #93
I haven't really figured it out. But I have it working again. Sorry for the redundant post.

[2015-02-13 15:23] #93 closed

[2015-02-14 22:46] nicolo-ribaudo commented on #34
I'm working on this: https://github.com/nicolo-ribaudo/brackets-sass/tree/compass
(Depends on #90)

How should be compass enabled?
[code]
or
[code]

I think the first is better because `sass.options` is "reserved" for libsass' options...

[2015-02-16 13:33] paulsjohn opened #94 "scss random() function not compiling in bracket"
scss random() function not compiling in bracket editor

[2015-02-18 20:47] nicolo-ribaudo commented on #94
This extension uses node-sass v1.1.4, which uses libsass v3.0.1. The `random()` function is supported by libsass from version 3.1.0...

If you have the Ruby Sass compiler installed, you can try to use [this branch](https://github.com/nicolo-ribaudo/brackets-sass/tree/ruby-compiler), which can use that compiler (By setting `"sass.compiler": "ruby"` in your `.brackets.json`)

[2015-02-19 20:32] ZeroMax-dev opened #95 "Doesn't find partials in the same directory, no recompilation after change of a partial."
Using a fresh Brackets 1.1 and brackets-sass 1.0.4-83 on Win8.1 (64-bit) if i import a partial that is in the same directory as the importing file with `@import "partial";` I get an error `File to import not found or unreadable`. My file structure is as follows:

    /
    -> css/main.css
    -> css/main.css.map
    -> img/etc.
    -> scss/_partial.scss
    -> scss/main.scss
    index.html
    .br

[2015-02-21 02:19] jasonsanjose commented on #3
Confirmed fixed. Targeting release 2.0.

[2015-02-21 02:19] #3 closed

[2015-02-21 02:20] jasonsanjose opened #96 "Upgrade to node-sass 2.0.1"
https://github.com/sass/node-sass/releases/tag/v2.0.1

[2015-02-21 02:23] jasonsanjose commented on #34
Tagging v2. Need to investigate if new ruby support makes it any easier for compass support. cc @nicolo-ribaudo.

[2015-02-21 13:35] nicolo-ribaudo commented on #34
From version 3.1.0 of the Ruby Sass compiler, compass can be enabled with the `--compass` argument
[code]

[2015-02-21 22:03] ofhouse commented on #91
+1
Would be very useful when a partial is changed that the main.scss would be automatically re-compiled.

[2015-02-22 16:35] awakekat opened #98 "How to use"
I have created a brackets.json file in the root if my project directory.
contents:

[code]

when making changes to the style.sass file a style.css.map file is created with this inside:

[code]

In the brackets file I have changed the "outputDir" to relative and absolute paths and no matter what I do nothing gets sent to a css folder in the root directory.
Everything is output into the sass folder

[2015-02-22 18:59] ofhouse commented on #95
I have the same issue.
Found out, that the extension don't recognizes partials correctly instead it handles them as normal InputFiles.
Maybe a result of this [issue](https://github.com/jasonsanjose/brackets-sass/issues/89)?

[2015-02-22 19:15] mselmany commented on #72
Live preview doesnt works on windows.I tried reinstall extension but nothing change.

[2015-02-22 22:30] ofhouse commented on #89
Same here.
Found out that the issue was caused by this [code](https://github.com/jasonsanjose/brackets-sass/blob/master/node/1.1.4-3/render.js#L83).
Unfortunately I'm not really experienced with Node.js so I don't know how to debug Node.js code to fix that :\
```console.log()``` doesn't work here.

[2015-02-23 01:22] Turqueso commented on #95
Had the same problem, tried to uninstall and reinstall, now i can't install it! it keeps installing forever :sob:

[2015-02-23 05:58] nicolo-ribaudo commented on #98
1. The file should be named .brackets.json (With the . at the start)
2. If you write `sass.enabled: false`, files won't be compiled.

Il giorno 17:35 Dom 22/Feb/2015 Katherine Wakefield <
notifications@github.com> ha scritto:

[2015-02-23 12:20] ofhouse commented on #95
Have you set ```includePaths``` in your ```.brackets.json```?

[2015-02-25 00:09] Turqueso commented on #95
This is my file
[code]

But this is happening with new projects and project i've been working just fine, don't know what happened since i did not modified them and it is just in windows, on mac it's fine

[2015-02-25 18:44] StDako commented on #38
seems to be working, on Linux at least. I could attempt to reproduce it on Windows if need be. :+1: :hamburger:

[2015-02-25 18:56] StDako commented on #38
never mind - was trying something different than I was before. I'm getting the same error.

[2015-02-25 21:00] nicolo-ribaudo commented on #89
Fixed: #99

[2015-02-26 16:32] nicolo-ribaudo commented on #95
I think it's because your projects are on a drive other than `c:/`

Can you test if in [this branch](https://github.com/nicolo-ribaudo/brackets-sass/tree/issue-95) partials are found?

[2015-02-26 16:45] ofhouse commented on #81
When I try to uninstall everything but this [file](https://github.com/jasonsanjose/brackets-sass/blob/master/node/1.1.4-3/node_modules/node-sass/bin/win32-ia32-v8-3.14/binding.node) gets deleted.

So I guess this file causes the issue, Debug Console is empty.

[2015-02-26 17:29] jasonsanjose commented on #81
I think I know what's causing this now. The compiler runs as a child processes (see https://github.com/jasonsanjose/brackets-sass/blob/master/node/1.1.4-3/SASSDomain.js#L173) and I'm not killing the process when an remove/upgrade happens.

This will be a tricky one to fix and might require something drastic:

1. Quit and manual delete and/or
2. Change the extension ID so that the next version is n

[2015-02-26 17:38] jasonsanjose commented on #81
If my theory is right, users should be able to uninstall if the compiler hasn't run in the current session of Brackets. For example:

1. Quit and restart Brackets
2. Don't compile or view any .sass/.scss files
3. Remove the extension via extension manager

Could be the same cause as these uninstall bugs:

* https://github.com/jasonsanjose/brackets-sass/issues/29
* https://github.com/jasonsanjose/b

[2015-02-26 17:56] jasonsanjose commented on #29
There are 2 potential workarounds for this uninstall problem:

1. Restart Brackets (make sure you don't have a .sass/.scss file open at startup), then uninstall via the Extension Manager (thanks @rgfx)
2. Quit Brackets, then manually delete the extension at `C:/Users/<your user name>/AppData/Roaming/Brackets/extensions/user/jasonsanjose.brackets-sass/`

I'll close this bug and use #81 to track the

[2015-02-26 17:56] #29 closed

[2015-02-26 17:58] jasonsanjose commented on #84
There are 2 potential workarounds for this uninstall problem:

1. Restart Brackets (make sure you don't have a .sass/.scss file open at startup), then uninstall via the Extension Manager (thanks @rgfx)
2. Quit Brackets, then manually delete the extension at `C:/Users/<your user name>/AppData/Roaming/Brackets/extensions/user/jasonsanjose.brackets-sass/`

I'll close this bug and use #81 to track the

[2015-02-26 17:58] #84 closed

[2015-02-26 18:44] ofhouse commented on #81
@jasonsanjose I've tested it (started Brackets with no files open & empty project-folder) but still got the same error on uninstalling.

The workaround does not work I guess ^^

[2015-02-26 19:09] jasonsanjose opened #101 "Update sassBinaryName hack"
TODO when https://github.com/sass/node-sass/issues/694 is released.

See `process.sassBinaryName` in `node/*/render.js`

[2015-02-26 19:51] jasonsanjose commented on #34
@nicolo-ribaudo thanks!

I took a quick look at your branch. Looks pretty solid. I can integrate it into my `v2` branch and start testing.

[2015-02-27 04:09] Turqueso commented on #95
@nicolo-ribaudo excuse my ignorance, but how can i test the brach? what file(s) should i download

[2015-02-27 05:56] nicolo-ribaudo commented on #95
1. Uninstall the extension
2. Click on "Install from url" in Extension Manager
3. Write the url of the branch

[2015-02-27 19:02] jasonsanjose commented on #34
@nicolo-ribaudo I think I was overly optimistic on this one. While `sass --compass` does work, it doesn't _completely_ account for the `config.rb` project configuration file (see http://compass-style.org/help/documentation/configuration-reference/).

For example, from my limited experience with Compass, users commonly use the spritesheet features. This requires a `images_dir` defined in `config.rb

[2015-02-28 01:03] jasonsanjose commented on #89
FWIW the path that we get from the source map returned from node-sass will typically look like this:

[code]

The bug happens when the input file and some included path are on different drives.

[2015-02-28 01:04] jasonsanjose commented on #89
Closing. Targeting v2.

[2015-02-28 19:50] Turqueso commented on #95
Is this the url [https://github.com/nicolo-ribaudo/brackets-sass/archive/issue-95.zip](https://github.com/nicolo-ribaudo/brackets-sass/archive/issue-95.zip)? because i get this

![image](https://cloud.githubusercontent.com/assets/4932347/6427773/49153de4-bf48-11e4-8859-5edd76df4640.png)
![image](https://cloud.githubusercontent.com/assets/4932347/6427774/54bf8032-bf48-11e4-8c3c-4c1008469c2e.png)

[2015-02-28 21:10] ofhouse commented on #95
Yeah, it's the right package but the install fails because Github is not able to include submodules (thirdparty/source-map/) in the zip archive.

Better use ```git clone``` instead if you are familiar with git.

[2015-03-01 00:08] jasonsanjose commented on #34
Note to self, this package may come in handy for parsing config.rb https://github.com/Snugug/Compass-Options.

[2015-03-02 19:21] jasonsanjose commented on #34
I added basic compass support (file save only, no live preview). See https://github.com/jasonsanjose/brackets-sass/pull/100#issuecomment-76787328 for more details and a link to a test build.

[2015-03-02 19:22] jasonsanjose commented on #89
See test build here https://github.com/jasonsanjose/brackets-sass/pull/100#issuecomment-76787328 with path fixes for both libsass and ruby. Targeting for v2 release.

[2015-03-02 19:37] jasonsanjose commented on #92
In PR #100 the `sourceMap` pref can be either `true` or a relative path. Try it out and let me know if it works for you.

[2015-03-02 19:41] jasonsanjose commented on #91
@Turqueso I think this may have been a windows bug where the source map paths were set incorrectly, causing the link from the main file to the partial file to be lost.

You can try the latest dev build here https://github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-101 (download the zip, open extension manager, then drag the zip from your file system to the drop zone).

If you have problems

[2015-03-02 19:43] jasonsanjose commented on #94
@paulsjohn You can try the latest dev build here https://github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-101 (download the zip, open extension manager, then drag the zip from your file system to the drop zone). It include the latest libsass which supports `random()`.

If you have problems uninstalling the current extension, try the workaround here https://github.com/jasonsanjose/brackets-

[2015-03-02 19:45] jasonsanjose commented on #95
Closing as duplicate of #91.

@ZeroMax-dev @Turqueso See comment here https://github.com/jasonsanjose/brackets-sass/issues/91#issuecomment-76795368 to try the latest dev build with a fix.

[2015-03-02 19:45] #95 closed

[2015-03-02 20:08] jasonsanjose commented on #81
@ofhouse can you try a manual uninstall (instead of extension manager) instead? https://github.com/jasonsanjose/brackets-sass/wiki/Manual-Uninstall

[2015-03-03 03:45] Turqueso commented on #91
@jasonsanjose the latest dev build fixed my issue with compiling partials. thanks!
But there is not livepreview when i make changes on partials, i don't know if this is supposed to work on this build

[2015-03-03 06:45] Jordane-L commented on #73
I had the same problem for weeks on brackets 1.1 and now on 1.2.

OS: Mavericks 10.9.5
Chrome: v.40
Messages:
Console: "You must connect to the WebSocket before sending messages" when I'm editing css.
Thunder: "Live preview was canceled for an unknown reason ({0})"
Server: Local with MAMP

I tested 2 things:

When I disabled this extension (brackets sass) and editing my file.scss there is no crash

[2015-03-04 05:30] onetrev commented on #87
I have the same problem, however...

The thing is the variables work and main.scss file compiles despite the SASS linter telling me **unbound variable** whenever I use a variable in my partials. As ong as I don't try to include a partial in a partial it compiles fine. Any help would be really appreciated!

My .brackets.json file looks like so:

`{
  "sass.enabled": false,
  "path": {
    "library/

[2015-03-04 05:57] andrerogers21 commented on #87
Try, re-intsalling the extension.

OR

Try using this file structure,

     scss
           |->_utils.scss
           |->_base.scss
           |->_components.scss
           |->_extras.scss
           |->_layouts.scss
           |->_pages.scss
           |->_vendor.scss
           |->main.scss

And in your .brackets.json file replace

     "includePaths": ["utils","base","components","extras","lay

[2015-03-04 06:30] onetrev commented on #87
I tried re-installing previously... no dice.

Unfortunately that file structure doesn't work for me and would go against one of the key best practices of SASS, breaking up different pieces into folders, I'd end up with 30 or so files all in that /scss folder. Thanks for the idea though!

There has to be a way to make this work when partials are in their own folders.

[2015-03-04 06:42] andrerogers21 commented on #87
I know, I tried breaking them down into the folders i.e. base, layout, modules, states, and util.

If I tried to import a partial from another partial it doesn't get imported, but it does if you try to import it from the main file. Its a weird problem, which I have no idea how to fix.

[2015-03-04 06:45] onetrev commented on #87
Yeah, exactly, I agree!!

I think you should re-open this issue then, as we have essentially the same experience. And I can confirm another dev I work with is also finding the same problem.

[2015-03-04 16:42] jasonsanjose commented on #87
@onetrev thanks for the report. Can you give me more details so I can try to figure this out?

1) Folder contents

Based on your first comment, I assume you have:

[code]

2) File contents - what do your `@import` statements look like?

For reference, you might look at my example bourbon project https://github.com/jasonsanjose/bourbon-example/tree/1.0.4 (use this 1.0.4 tag since I've recently upda

[2015-03-04 17:39] onetrev commented on #87
Excellent, glad you are on the case! I will try to help as best I can....

1) Folder Contents
- Correct that is my exact file structure. Utils folder is indeed where the partial with my variables is located.
- I have folders underneath this technically as my project is a WordPress theme, but as far as brackets is concerned that is my project root. Just wanted to make sure I gave you all the info,

[2015-03-04 17:49] jasonsanjose commented on #87
Ah, so while editing `/library/scss/base/_core.scss` you see an error, but compiling `/library/scss/main.scss` works fine?

Sounds like something went wrong when the source map is compiled.

Long story short, I use the source map to figure out what the main input file is. So, when linting `/library/scss/base/_core.scss`, it should resolve to `/library/scss/main.scss`. From there, we lint `main.scs

[2015-03-04 18:03] onetrev commented on #87
Correct, compiling works fine despite seeing error while editing. Makes sense why to two differing results.

Here is my map file: https://gist.github.com/onetrev/ae1c1a9b3383bf0e8653

[2015-03-04 23:33] adamsdally commented on #88
I had a similar thing happen to me, which was extremely confusing considering how it was the first time I've ever used Sass. So I found a different sass compiler (Koala) and it works just fine. Here are the differences between the source mappings:
brackets-sass:
    {
      "version": 3,
      "file": "test.css",
      "sources": [
        "test.scss"
      ],
      "sourcesContent": [],
      "ma

[2015-03-04 23:47] jasonsanjose commented on #87
@onetrev try this dev build https://github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-105.

Added fix to PR #100. Tagging v2.

The problem was that we didn't identify the correct input file (in this case `/library/scss/main.scss`). There were also some downstream code that never implemented errors for partials correctly.

Tested on mac and win for both libsass and ruby.

[2015-03-04 23:50] jasonsanjose commented on #88
@lucascosta @adamsdally Looks like this is fixed in the latest dev build https://github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-105. Probably due to a libsass update. If you can, please follow the instructions for testing the dev build and let me know how it goes.

[2015-03-05 00:11] jasonsanjose commented on #89
Re-opening since PR #100 hasn't been merged yet.

[2015-03-05 00:14] jasonsanjose commented on #65
@gbggit your issue regarding `I found that the generated path is wrong - it search first in C:/, but my project is in D:/` is separate from the original one reported. Please see https://github.com/jasonsanjose/brackets-sass/issues/89 instead.

@mikriot I have a test build here https://github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-105 that fixes several windows-related issues. Can you gi

[2015-03-05 00:15] jasonsanjose commented on #89
@tijtij there's a test build you can try here https://github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-105. If you have some time, please let me know if that fixes your problem.

[2015-03-05 00:20] jasonsanjose commented on #68
Reopened. @panablue can you try this dev build https://github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-105 and see if it fixes your issue with partials not recompiling the main input?

[2015-03-05 00:22] jasonsanjose commented on #8
@lucascosta can you try this dev build https://github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-105 to see if your issue is fixed?

[2015-03-05 00:23] jasonsanjose commented on #30
@Tusko can you try manually uninstalling? https://github.com/jasonsanjose/brackets-sass/wiki/Manual-Uninstall

[2015-03-05 00:30] jasonsanjose commented on #98
@awakekat based on your report, your project root looks like this:

[code]

However you also mentioned a `sass` folder, but your `.brackets.json` implies your file is at the project root `/style.sass` and not in a subfolder.

If I understood you correctly, you want your `.brackets.json` file to look like this:

[code]

Note @nicolo-ribaudo's comment about setting `"sass.enabled": true`.

It would

[2015-03-05 00:32] awakekat commented on #98
Thanks I got it working. Yes the dot was missing and some other tweaks got it going. Thanks for the help.

[2015-03-05 00:33] #98 closed

[2015-03-05 01:27] tijtij commented on #89
@jasonsanjose Works for me on Brackets 1.20-15697.

None of sources paths in *.css.map are using drive letters.

Thanks for the fix.

[2015-03-05 01:29] #89 closed

[2015-03-05 02:06] onetrev commented on #87
Awesome, that was fast! And it works perfectly from my initial testing. Variables in my partials are now recognized and everything continues to compile. Not sure why, as I didn't fully understand the includePaths in the first place, but I don't even need those anymore.

Just wondering quickly, what is the upgrade path now that I have this version? I'm not sure how betas like this work in Brackets.

[2015-03-05 07:17] panablue commented on #68
It appears to be working - and updating without saving is extra awesome.

Maybe not even worth addressing, but I noticed a small anomaly that occurs **when making edits between 2 open partial files**:

Changes to either file updates the live preview as expected, but ***saving* partial A updates the live preview to show the *last-saved version* of partial B**. (However **saving partial B then re-up

[2015-03-05 10:11] sinanzt commented on #53
@RafaelCz I had same problem on Elemantry OS(which based on ubuntu 12.04). I solved it by upgrading gcc-4.9 and g++-4.9

[2015-03-05 16:59] jasonsanjose commented on #68
@panablue thanks for the feedback.

Can you file this as a separate bug? Pretty sure that's fixable. Thanks again.

[2015-03-05 17:02] jasonsanjose commented on #87
Thanks for the feedback @onetrev.

You will see an update notification in extension manager once I post the final build. Due to another bug though, you'll need to [manually uninstall](https://github.com/jasonsanjose/brackets-sass/wiki/Manual-Uninstall) first, then install the update.

[2015-03-05 17:30] panablue opened #103 "Saving SCSS partial reverts live preview to last-saved version of unsaved partial(s)"
(Using pre-release [2.0.1-105] (github.com/jasonsanjose/brackets-sass/releases/tag/2.0.1-105) and related to [issue #68] (https://github.com/jasonsanjose/brackets-sass/issues/68#issuecomment-77403203).)

A small anomaly occurs when saving one of several open/edited SCSS partial files:

Ongoing changes to open partial files updates the live preview as expected, but ***saving* partial 'A' updates th

[2015-03-05 19:43] jasonsanjose commented on #94
Confirmed fixed in #100

[2015-03-05 19:48] jasonsanjose commented on #92
So...I realize my previous suggestion isn't quite the same as supporting a `sourceMapDir`. Removing from v2 milestone.

[2015-03-05 20:00] jasonsanjose commented on #94
Closing

[2015-03-05 20:00] #94 closed

[2015-03-05 20:00] jasonsanjose commented on #91
Fixed in #100. Closing.

[2015-03-05 20:00] #91 closed

[2015-03-05 20:01] jasonsanjose commented on #68
Fixed in #100. Closing

[2015-03-05 20:01] #68 closed

[2015-03-05 20:01] jasonsanjose commented on #88
Fix in #100. Closing.

[2015-03-05 20:01] #88 closed

[2015-03-05 20:01] jasonsanjose commented on #87
Fix in #100. Closing.

[2015-03-05 20:01] #87 closed

[2015-03-05 20:02] jasonsanjose commented on #65
Fix in #100. Closing.

[2015-03-05 20:02] #65 closed

[2015-03-05 21:04] lucascosta commented on #8
@jasonsanjose , I won't be working on Windows any more since I changed jobs, so I can't really test that for you in the same environment. Thank you so much for your attention, though.

[2015-03-05 21:35] jasonsanjose commented on #34
Closing. Will file additional feature work to support compass in live preview.

[2015-03-05 21:35] #34 closed

[2015-03-05 23:14] adamsdally commented on #88
This does appear to have fixed the issue. However, I am only able to view the connected stylesheets in Chrome and not Firefox. In Firefox I am getting a "style sheet could not be loaded" error on the scss file.

I recompiled again with Koala and the source maps are practically identical with the except of the mappings and the line

    "sourcesContent": [],

does not exist in the Koala map file.

[2015-03-08 05:29] DiodeDan opened #104 "Plugin not recognized in Brackets 1.2"
Brackets release 1.2 cannot find this extension in the add-on manager.

[2015-03-08 06:49] nicolo-ribaudo commented on #104
The extension has been removed from the [registry](https://brackets-registry.aboutweb.com/)...

[2015-03-08 17:16] Maxis322718 commented on #104
And what does this mean, now the extension will not work in Brackets 1.2?

[2015-03-09 16:28] #96 closed

[2015-03-10 11:03] andrerogers21 commented on #87
I updated the extension, and now, the files won't compile and generate the .css file.

[2015-03-10 16:51] jasonsanjose commented on #87
@andrerogers21 is your project the same as you described initially? https://github.com/jasonsanjose/brackets-sass/issues/87#issue-56018700

[2015-03-10 17:41] andrerogers21 commented on #87
The file structure is now like this,

     root
          ->css
          ->sass
               ->base
                    ->_base.sass
               ->layout
                    ->_panel.sass
               ->modules
                    ->_images.sass
               ->states
                    ->_hidden.sass
               ->util
                    ->_config.sass

My .brackets.json file is as

[2015-03-10 17:46] jasonsanjose commented on #87
`path` settings in `.brackets.json` assume the file is in the project root (the folder you have open in Brackets). The path you have `../sass/style.sass` won't work since it uses the parent path `../`. Can you move the file and fix the paths or is there some other reason you have this setup?

[2015-03-10 17:50] andrerogers21 commented on #87
I changed the file to this

     {
         "path": {
             "sass/style.sass": {
                 "sass.enabled": true,
                 "sass.options": {
                     "outputDir": "css/",
                     "includePaths": [
                         "sass",
                         "sass/base",
                         "sass/layout",
                         "sass/modules",

[2015-03-10 18:07] jasonsanjose commented on #87
I think you want this:

[code]

Note that the paths (like `outputDir` and `includePaths`) are relative to the file being compiled.
Assuming your `style.sass has imports like

[code]

Are you seeing any compiler errors or anything from the console `Debug > Show Developer Tools`?

[2015-03-10 19:30] andrerogers21 commented on #87
Its working. Thank you.

[2015-03-11 07:23] joepie91 opened #105 "Plugin crashes Node.js process in Brackets 1.2"
The following uncaught error occurs:

![selection_146](https://cloud.githubusercontent.com/assets/1663259/6591961/99624706-c7c7-11e4-969b-240ccd5c6a7a.png)

... which crashes the Node.js process, and thus breaks file watchers and Brackets-Git.

__Brackets version:__ Release 1.2 experimental build 1.2.0-15697 (release 8f82e2a97)

The issue only occurs since the most recent update of the plugin.

[2015-03-14 11:54] oraculus opened #106 "New versions not working on Linux"
Brackets 1.2
Kubuntu 14.04

the new versions 2.x are not working on linux, the error given is "Max connection attempts reached"
I just did a very simple demo file, demo.scss

    $demo:1px;
    .demo{width: $demo;}

with brackets-sass.1.0.0-67 compiles good into demo.css, with no errors
with brackets-sass.2.x gives "Max connection attempts reached" and is not compiled

[2015-03-14 17:34] nicolo-ribaudo commented on #81
@jasonsanjose Are you working on this bug?

[2015-03-15 21:01] herrherrmann commented on #86
@nicolo-ribaudo, that's what I thought as well but setting the _sourceComments_ option to false in the _.brackets.json_ file doesn't help me. I'm still getting those unhelpful comments with the following .brackets.json configuration:

    {
      "sass.enabled": false,
      "path": {
        "sass/style.scss": {
          "sass.enabled": true,
          "sass.options": {
            "outputDir":

[2015-03-15 21:51] herrherrmann opened #108 "SCSS not compiling with "sourceMap": false"
Hey there,
I don't need the source map file, so I naturally set sourceMap to false in my .brackets.json file. But as soon as I do so, my scss files won't be properly compiled anymore. Instead Brackets just gets stuck while compiling and doesn't output any css anymore.

There are some errors in the console:
![bildschirmfoto 2015-03-15 um 22 47 29](https://cloud.githubusercontent.com/assets/6429568/

[2015-03-15 21:53] herrherrmann commented on #108
Nevermind, of course I have to put

    "sourceMap": "false"

[2015-03-15 21:59] herrherrmann commented on #108
Accidentally closed a bit early. Problem is still there.

[2015-03-16 16:15] jasonsanjose commented on #81
Not currently. I'll take a look at you PR. Thanks!

[2015-03-16 17:40] nicolo-ribaudo commented on #108
Can you test [this branch](https://github.com/nicolo-ribaudo/brackets-sass/tree/issue-108)?

But keep in mind that, without source maps, *live preview* won't be updated until you don't save the file and files won't be compiled when partials change.

[2015-03-16 22:40] Dorza opened #109 "Fails to install on Linux/Windows brackets 1.2"
Tried many times on my home machine (Linux Mint 17) to install this plugin via URL, manually and via ZIP and it fails each time. Then thought it's something quirky with nix so tried on my work machine (Win 8 with ruby installed (I use notepad++ for sass work usually) and same thing happens..."Installation Failed, the extension encountered an error while starting up".

In the console I get the foll

[2015-03-16 22:41] jasonsanjose commented on #109
Have you tried installing via extension manager instead of by URL?

[2015-03-16 22:48] Dorza commented on #109
Hi thanks for the speedy reply. Previously I couldn't find brackets-sass within the extention manager. Its there now and got it installed, fantastic :). Thanks

[2015-03-16 22:50] #109 closed

[2015-03-17 17:12] tD3rk opened #110 "Compressed Output, incorrect SourceMap line numbers"
I've noticed when setting my output style to compressed, line numbers are incorrect when inspecting in browser (sourcemaps enabled). When setting output style to nested, numbers are correct. This is the case for me with a fairly vanilla setup, few partials being imported ahead of the lines in question that are off.

[2015-03-22 19:01] bitbay commented on #81
Quoting the wiki:

Same issue on Debian as well.

[2015-03-24 08:48] aiphee commented on #106
I can confirm, version 1.0.0-67 works just fine while the new one does not.

[2015-03-24 14:56] Druggist commented on #106
Same for me on Windows everything works fine but when I installed new version on Ubuntu 14.10 x64 compiler stopped working with this error

[2015-03-25 18:19] shubhamoy commented on #53
In my case, I installed: sudo apt-get install libstdc++6

[2015-03-30 09:53] ionutmusat commented on #106
Issue confirmed on UbuntuGnome 14.10 (1.0.0-67 works fine, 2.x gives "Max connection attempts reached")

[2015-03-31 18:34] patowod opened #111 "Beginner Question Config / .brackets.json"
Hi everyone,

I've been looking through the issues here but can't seem to get it right. Basically I'd like to turn off source map  and have a compressed output in the same directory as my template.scss. So I put ".brackets.json" in the root of my project directory and inserted. I also tried putting brackets.json in the css folder. Didn't work either. Can someone please hep? Thank you so much in ad

[2015-04-01 16:37] Turqueso commented on #111
You need to add css before template.scss, since it's not on the root folder but inside /css. Also, .brackets.json should be on the root folder. The map should be something like this, don't foget to remove my comments
[code]
Your project directory should look like this:
-- project-title
------------ /css
----------------- template.scss
---.brackets.json

[2015-04-01 20:02] patowod commented on #111
@Turqueso Yay! That works. Thank you very much. Now the only question left would be how to disable sourceMap generation - I had to remove the line in order for the code to work.

[2015-04-01 20:12] Turqueso commented on #111
@patowod you can read about it on #108 but it seems you need them for live preview

[2015-04-01 20:13] Turqueso commented on #108
@nicolo-ribaudo maybe this info should be added to the docs?

[2015-04-02 17:33] carobe commented on #110
I have the same problem, but for me with style compressed or nested, the inspector never gives me the right number line.

[2015-04-05 07:39] nicolo-ribaudo commented on #108
I think there should be a "database" in which save info about file relations, so that live preview and compilation-on-partials-changes don't depend on source maps.

Something like this:
[code]

[2015-04-07 18:15] HumidBrains commented on #68
I get the same problem on Mac as @panablue had on Windows. No live preview and no compiling as soon as I import partials into the app.scss file. Commenting out the imports of partials instantly shows live preview and compiling with file mapping works fine, so it's the imports that breaks it for me. I'm on Yosemite and use brackets-sass v 2.0.1-109. My setup below...

root
|- css // Output folder o

[2015-04-07 18:42] Turqueso opened #112 "Stops wrking"
I'm getting this whie working, i removed every other extension already

![image](https://cloud.githubusercontent.com/assets/4932347/7030662/540f5358-dd23-11e4-8215-4e72405561b2.png)

[2015-04-12 09:11] MattDiMu opened #113 "Live Preview in partials requires saving"
This bug actually happens quite a lot to me. In imported files, the Live Preview only updates Chrome after saving the file. In the "main.scss"-file (which imports the partials), the live-preview works without saving the file.

I know, this description probably doesn't help you much, but how could i assist you reproducing it?

Btw, I'm using Win7 and the latest brackets (1.3) & brackets-sass versio

[2015-04-13 13:19] nicolo-ribaudo commented on #112
Can't reproduce. :confused:

1. Are you using libsass, Ruby Sass or Compass?
2. Do you get this error with all files or only some?
3. Can you post a sample code to reproduce it?

[2015-04-13 14:05] nicolo-ribaudo opened #114 "Wrong paths in source maps using the `sourceMap` option"
I have a folder structure like this:
[code]

`.brackets.json`
[code]

`sass/main.scss` is empty (it contains just a space). When I save it, `css/main.css` and `css/maps/main.map` are created:

`css/main.css`:
[code]
(Wrong, it should be `maps/main.map`)

`css/maps/main.map`
[code]
(Wrong, `sources` should be `[ "../../main.scss" ]`)

[2015-04-13 20:54] herrherrmann commented on #108
Sorry but how can I test the branch you referenced, @nicolo-ribaudo? I'm new to Brackets Extensions and don't know how to compile the source files accordingly.

[2015-04-15 19:07] forrey opened #115 "Strange random .sass compilation problem"
I've been working on a site for several weeks now and everything was going perfectly fine until yesterday. Now, suddenly, my 1800 line .sass file won't compile. It seems to think that totally normal expressions are invalid, and in the error log will either say "invalid top-level expression" or "invalid property name." However, I restored the last version from my github repository, thinking that wo

[2015-04-16 19:19] Turqueso commented on #112
tried after a few days and it started to work like nothing happend... i'll keep a eye on it

[2015-04-22 17:51] nickfmc commented on #110
I also receive this error on Compressed or Nested, I'm posting it on this ticket because I'm not sure the error occurred until I set the project to Compressed and then back to nested. V.2.0.1-109 Reinstalled, issue remains. Windows 8.1

[2015-04-23 17:07] nicolo-ribaudo commented on #110
That is a libsass/node-sass bug, so can't be fixed in this extension :cry:

[2015-04-23 17:14] nicolo-ribaudo commented on #115
Do you get the error using node-sass from the command line?

---
*Steps to use node-sass from the command line*
- Install [node.js](http://nodejs.org/)
- Install node-sass

[code]
- Compile your files

[code]

[2015-04-23 17:35] ldiaz commented on #106
Same here in xubuntu 14.04 2.x gives "Max connection attempts reached"), the weird thing is that a popup window shows and error message and the tittle is associate to the brackets-git extension as described here
https://github.com/zaggino/brackets-git/issues/410

But the main error is from the bracked-sass extension.

Hope a fix appear soon.

[2015-04-23 17:59] nickfmc commented on #110
Do you have a link nicolo with info on this bug so when this ticket is closed and people find it they will have a resource?

[2015-04-23 19:36] nicolo-ribaudo commented on #110
No, I just installed node-sass and compiled files from the command line.

[2015-04-24 16:12] nicolo-ribaudo opened #116 "[Feature request] Conversion between sass and scss"
Do you think this would be useful?

[2015-05-04 12:33] Amstramgram opened #117 "[Q] Someone can help me ?"
Hi,
my problem it's: i don't know how config .brackets.json with my project. Someone can help me?

.brackets.json
index.html
- assets
- - stylesheets
- - - css
- - - - main.css // output
- - - sass
- - - - main.sass // with import
- - - - modules.sass
- - - - reset.sass
- - - - other.sass

thank you.

[2015-05-04 14:16] nicolo-ribaudo commented on #117
This should be enough:
[code]

If `modules.sass`, `reset.sass`, and `other.sass` are partials (i.e. files imported only from other `.sass` files), they should be named with a `_` at the beginning (`_modules.sass`, `_reset.sass`, and `_other.sass`) and imported as this:
[code]

[2015-05-05 12:48] derwaldgeist opened #118 "outputDir option does not work in combination with compass"
Just noticed that when "sass.compass" is true, the output folder is always "/css", no matter what "outputDir" defines. Only of compass is disabled, outputDir works as designed.

[2015-05-05 21:33] evanisadesigner opened #119 "I almost have variables working, I just need some sage advice"
Hey everyone!  I am loving brackets and I decided to try my hand at working in SASS, as the variables feature really seemed attractive, though I think I'm doing it wrong.

What happens is this: when I change a variable on blocks.scss and hit save it works just fine, but when I change a variable's definition on _variables.scss, my styling doesn't change.

* All of my CSS and SCSS files are in /css/

[2015-05-06 08:14] mukiwu opened #120 "warning when import "susy""
I use brackets sass, but when I compile, it has wrong msg:

[code]

so, does brackets sass not support susy?
thanks !

[2015-05-06 08:20] mukiwu opened #121 "how to setting the path"
here is my folder structure:

[code]

so I have many particals , this is my json setting:

[code]

via the setting, it compile only when I edit style.scss, if I edit any partical files, it doesn't work.
does anyone know how to setting the path ? thanks

[2015-05-06 11:53] nicolo-ribaudo commented on #120
Do you have Susy's files in your project?

In order to write
[code]

You should have a file named `_susy.scss` (or `.sass`)

[2015-05-06 13:53] nicolo-ribaudo commented on #121
brackets-sass uses source maps to know which files compile when a partial change, so you should enable them.

[2015-05-06 17:06] derwaldgeist commented on #118
Correction: It's sufficient to set the "sass.compiler" to "ruby" to have this effect.

[2015-05-07 05:40] mukiwu commented on #120
@nicolo-ribaudo susy is a framwork based on compass, so it doesn't have any file in my project :(
here is documation: http://susydocs.oddbird.net/en/latest/install/#quick-start

[2015-05-07 09:18] Madebym opened #122 "Switching compiler to ruby throws an error"
Changing to ruby in `sass.compiler` throws an error:

"sass" is not recognized as an internal or external command, operable program or batch file . /*  =======================

I am pretty sure I have both Ruby and Sass installed on my Win7.

[2015-05-07 09:29] Madebym commented on #122
Guess I needed to add ruby to path variable in windows. Now it is fine, albeit slow as hell :))

If anyone has similar problems, this thread explains how to alter the path variables.

http://stackoverflow.com/questions/22115610/sass-compiler-not-working-in-sublime-text-3

[2015-05-07 09:29] #122 closed

[2015-05-07 11:51] Madebym opened #123 "Update LibSass to 3.2 / node-sass 3"
Can we update manually somehow, or is it maybe slated for next version of the extension?

[2015-05-07 13:08] nicolo-ribaudo commented on #123
Unfortunately no, because of some API changes.

Upgrading to node-sass 3.0.0 (libsass 3.2.2) will also fix #92

[2015-05-07 13:11] Madebym commented on #123
@nicolo-ribaudo Thanks for the insight. So, basically I just need to wait till upgrade to node-sass 3.0.0. happens?

[2015-05-07 15:50] nicolo-ribaudo commented on #114
Fixed (#124)

[2015-05-07 15:54] nicolo-ribaudo commented on #118
Can't reproduce.

How is your `.brackets.json` file?

[2015-05-07 16:09] nicolo-ribaudo commented on #120
@mukiwu The problem is that brackets-sass runs `sass --compass` instead of `compass`. A workaround can be adding a `config.rb` file at the root of your project:
[code]

[2015-05-07 16:58] #119 closed

[2015-05-07 21:45] derwaldgeist commented on #118
Thanks for your quick reply.

Here's the .brackets.json I've tested:

{
    "language.fileExtensions": {
        "dwt": "html"
    },
    "sass.compiler": "ruby",
	"sass.compass": true,
    "sass.options": {
        "sourceComments": false,
        "outputStyle": "nested",
		"outputDir": ""
    }
}

It does not matter how the "outputDir" option is set, the actual output folder for all .scss files

[2015-05-08 03:30] ldiaz commented on #106
Hi again folks, good news I made it work. I decided to check the error and finally using some console.log messages found this error message:
[code]
with that info was easy to notice the provided version of the  binding.node was not working with my linux arch. So the solution was to build my own version, the provided one is build for 32bits, I compiled my own version for 32bits and it didn't work e

[2015-05-08 03:34] ldiaz commented on #105
It's the same error described in issue #106 , check my comment with a fix https://github.com/jasonsanjose/brackets-sass/issues/106#issuecomment-100088939

[2015-05-08 11:57] MJLHThomassen opened #125 "nfiguring brackets"

[2015-05-08 12:27] Druggist commented on #106
Awesome, it's finally working. Thanks for the solution Idlaz.

[2015-05-08 12:51] nicolo-ribaudo commented on #125
What is the question?

[2015-05-08 12:53] MJLHThomassen commented on #125
Oh god i am so sory. I accidently typed something in this window while i thought my cursor was in the search bar and it looks like i pressed enter which posted the question.

[2015-05-08 12:53] #125 closed

[2015-05-08 15:54] nicolo-ribaudo commented on #106
@ldiaz Can you write this solution in the wiki?

[2015-05-08 16:04] jasonsanjose commented on #106
Yikes. Thanks @ldiaz. The right fix here is to make sure the node-sass binaries from https://github.com/sass/node-sass-binaries are up to date. In short, that usually means upgrading node-sass. I see the latest is 3.0.0.

If anyone is interested in taking on this work sooner than later, please let me know. Otherwise it may have to wait a few weeks until my time frees up.

[2015-05-08 16:05] ldiaz commented on #106
@nicolo-ribaudo sure I can do it. Do you think a new page called troubleshooting it's fine to start adding this kind of things?

[2015-05-08 16:10] ldiaz commented on #106
@jasonsanjose I'd like to help you with that, but I would need some sort of guide about it.

[2015-05-08 16:24] jasonsanjose commented on #123
I've updated the docs https://github.com/jasonsanjose/brackets-sass/blob/master/node/2.0.1/README.md to explain how node-sass upgrades should be handled.

[2015-05-08 16:25] jasonsanjose commented on #106
@ldiaz Just updated https://github.com/jasonsanjose/brackets-sass/blob/master/node/2.0.1/README.md.

[2015-05-08 19:29] nicolo-ribaudo commented on #118
@derwaldgeist I can only reproduce the issue using compass (It doesn't depend on the compiler which is used)

[2015-05-08 20:56] nicolo-ribaudo commented on #123
@jasonsanjose Are you working on this?

[2015-05-08 21:06] jasonsanjose commented on #123
Not yet.

[2015-05-08 21:09] nicolo-ribaudo commented on #123
I can work on this tomorrow

[2015-05-09 13:54] nicolo-ribaudo commented on #123
PR #126

[2015-05-09 16:29] nicolo-ribaudo commented on #118
Until this isn't fixed you can add a `config.rb` file at the root of your project:
[code]

[2015-05-10 16:55] derwaldgeist commented on #118
Thanks, I did not know about this Ruby option! I'll test it.

[2015-05-10 16:56] derwaldgeist commented on #118
@nicolo-ribaudo: I first also thought it was related to compass. But then, strangely, it also happened when I disabled compass. Maybe it is enough that compass was enabled once?

[2015-05-10 18:43] nicolo-ribaudo commented on #118
`config.rb` works just using Compass. More info at http://compass-style.org/help/documentation/configuration-reference/

That is strange :confused:
Options aren't cached, so the result shouldn't be affected by what you did before.

[2015-05-11 07:23] derwaldgeist commented on #118
Hi Nicolo,
I now tried the config.rb workaround. It works in principle, but does not give me the desired result. The folder css_dir points always seems to be relative to the project's root folder. Yet, I would like to store the generated css files right where the source files are located, at an arbitrary level of my project structure. The reason behind this is that I am using polymer, and I would

[2015-05-12 16:06] Turqueso commented on #111
close #111

[2015-05-12 16:21] Turqueso commented on #113
@MattDiMu did you try adding the path of your folder for partials on the ```.brackets.json```?
[code]

[2015-05-13 15:53] ph3l1x opened #127 "Disabling Comments in the CSS File"
I can not for the life of me figure out how to disable the comments. I don't want:

/* line 14, C:/Users/r/Desktop/Brackets SASS/scss/style.scss */

in my css file for every single line. There has to be a way to disable this I hope??
"sourceComments": "false", seems to do nothing. It really seems that none of the settings I put in this file really change or do anything. However I know its reading

[2015-05-13 15:58] ph3l1x commented on #86
I am having the exact same issue. Doesn't seem anything inside the sass.options is being read properly. I can change outputSyle to and it does nothing. You ever figure out what was causing this problem?

[2015-05-13 18:07] nicolo-ribaudo commented on #127
"sourceComments": "false", seems to do nothing.

`false` must be written without quotes: `"sourceComments": false`

---

Does the `outputDir` option work? Maybe brackets-sass doesn't read correctly `sass.options`.

[2015-05-15 03:26] urbanmonk commented on #86
Try removing "sourceMap": false, or set it to true.

[2015-05-15 13:48] justinbhayes opened #128 "Unable to compile css to a different folder than scss file location using brackets.json"
I am able to compile css and source.css.map files in the same location of my scss file without using brackets.json.

However when I add options for targeting a different css folder in my brackets.json, no css or source.css.map files are created after making changes to my scss file. I'm running Windows 8 using Brackets Release 1.3 build 1.3.0-16022 (release cd0a6aae5). Any ideas?

My file structure

[2015-05-15 14:24] nicolo-ribaudo commented on #128
Does it work if you delete the `"sourceMap": false` line?

[2015-05-15 14:31] justinbhayes commented on #128
Nope. Same result. No css compiled.

[2015-05-15 14:53] nicolo-ribaudo commented on #128
Can't reproduce.

If, after having removed the `sourceMap` option, there still is written `Compiling sass/screen.scss` in the bottom bar, try to quit and re-open Brackets.

[2015-05-15 15:16] justinbhayes commented on #128
I never see "Compiling sass/screen.scss" in the bottom bar whether my json file is blank or not. All I see is a "Checking for errors" message flash quickly once I save changes. Is there a setting I need to turn on to see that message?

[2015-05-15 15:21] nicolo-ribaudo commented on #128
You should see that message as soon as brackets-sass starts compiling...

Is there any error in the console? (<kbd>F12</kbd>)

[2015-05-15 15:33] justinbhayes commented on #128
I never see that message anywhere after making changes. I do see the green circle with a check for no scss problem found in the bottom right. I had previous errors in my console that I accidentally cleared, but no new errors show after I make changes to my scss file. Sorry, I'm new to using this editor.

[2015-05-15 17:14] nicolo-ribaudo commented on #128
Does it works using just this `.brackets.json`?

[code]

(Just to isolate the problem)

[2015-05-15 17:34] justinbhayes commented on #128
Yes, that works. Thank you!

However, this doesn't.
[code]

[2015-05-15 17:55] nicolo-ribaudo commented on #128
Because `sourceMap` can't be `false` :wink:

brackets-sass uses source maps for some stuff, like compiling files when partials change.

I can work on a version which doesn't depend on them after that #126 has been merged.

[2015-05-15 18:38] justinbhayes commented on #128
Sounds good. Thanks again for your help!

[2015-05-19 06:15] mukiwu commented on #120
@nicolo-ribaudo  yes, I already have it in my config.rb
![2015-05-19 2 16 18](https://cloud.githubusercontent.com/assets/3794103/7696626/89a480ae-fe31-11e4-9f4c-8d28ee3c9be4.png)

[2015-05-27 03:34] suhide commented on #127
I also face this problem and can not solve it..

[2015-05-27 03:42] suhide opened #129 "Qustion about the ..brackets.json"
My files tree is like this
--index.htm
--scss
-------style.scss
--css
--.brackets.json

my.brackets.json is
{
"themes.theme": "dark-theme",
"path": {
"scss/style.scss": {
"sass.enabled": true,
"sass.options": {
"outputDir": "../css/",
"imagePath": null,
"sourceComments": false,
"outputStyle": "compressed"
},
"linting.collapsed": false
}
},
"linting.collapsed": false,
"fonts.fontSize": "13px"
}
The

[2015-06-02 00:08] mihawk90 opened #130 "Compile won't work for network locations"
Compiling of SASS doesn't work when the SASS file is on a network location.

I have my projects on another computer on the network, and I can't get it to compile my files. I copied the project folder to my local disk, opened it and compiling works fine.

It's not an issue with the file, I didn't change anything except a space in an empty line.

[2015-06-08 09:32] GrantColloty opened #131 "Eset Smart Security & Brackets-sass"
If I start Brackets with Eset protection __disabled__ (and enable once brackets loads) Brackets-sass works perfectly, for a while (2-3hrs). Then it starts throwing errors - Max connection attempts reached & SCSS has timed out after waiting for 10000 ms - each time I try save my scss file. Starting Brackets with Eset __enabled__ does the same thing only straight away.

I have set Eset to allow comm

[2015-06-11 14:22] MarcoWilli commented on #73
Same problem here for me! Working with a foundation libsass project and Brackets Release 1.3 Build 1.3.0-16022 on Win7 x64

[2015-06-13 18:17] MarcoWilli commented on #129
No, the .bracket.json is in the right directory. It needs to be in root. Try switching projects, Brackets will show you an error if your json file isn´t ok.

[2015-06-13 18:21] MarcoWilli commented on #73
Did a clean install of both Brackets and plugin. Same result...

[2015-06-19 03:30] AugustePop opened #132 "Error on loading extension"
My Platform: Arch Linux x64
Brackets: Release 1.3 experimental build 1.3.0-16022 (release cd0a6aae5)
Extension: 2.0.1-109

Here's the error message:

    at Object.exports.normalize (path.js:336:27)
    at /home/pop/.config/Brackets/extensions/user/jasonsanjose.brackets-sass/node/2.0.1/SASSDomain.js:405:35
    at Array.forEach (native)
    at /home/pop/.config/Brackets/extensions/user/jasonsanjose

[2015-06-22 09:39] stoufdev opened #133 "return when work is finished"
I have a lot of scss file with "include" inside, and it take few minutes to compile, and i would like to know when libsass have finished working . possible ?

[2015-06-22 14:11] peteringram0 opened #134 "output not working"
the "output" config setting is not working. If you set something like "output": "test.css" no file is generated.

[2015-06-22 15:57] Madebym commented on #123
@nicolo-ribaudo  Has your pull request been merged? How does these things work?

Sorry, but I am total noob for these kind of stuff, need to brush up on front-end stuff, being primarily a designer.

[2015-06-26 08:14] blessbygod commented on #134
in brackets 1.3    your plugin    is not  work

[2015-06-27 20:55] derwaldgeist opened #135 "MacOS: Partials create .css files / Connection problems with ruby"
I used this extension under Windows without any problems. But under MacOS X Yosemite, I'm experiencing two strange issues:

1. The extension will create .css and .map files even for scss partials. I'd expect .css files to be created only for .scss files without a leading underscore, as it was the case under Windows.

2. If I choose ruby as the compiler, compilation breaks quite often due to connec

[2015-07-08 21:24] derwaldgeist commented on #123
The bootstrap-sass-official package is using the @at-root directive, which is only available in libsass-3.2:
https://github.com/sass/libsass/issues/353

This causes Brackets Sass to render invalid CSS. You won't notice it until you experience the following side-effects:
1. The glyphicon font included in bootstrap won't work
2. Meteor.js validation fails, which causes a Meteor application to break

[2015-07-08 21:35] derwaldgeist commented on #19
I've got the very same problem on MacOS, but only if I'm using the Ruby compiler. Compiling a large scss file with many imports and partials will eventually result in a timeout error, as it has used more than 10000ms. It seems as if this is a restriction by Brackets, as the error message is translated to German as well. If I run the sass command on the command line, compilation is done without any

[2015-07-09 22:42] jasonsanjose commented on #114
Tested and confirmed in PR #136

[2015-07-09 22:43] jasonsanjose commented on #129
Thanks @MarcoWilli. That's correct. Closing.

[2015-07-09 22:43] #129 closed

[2015-07-09 22:43] jasonsanjose commented on #123
Fixed in #136

[2015-07-09 22:43] #123 closed

[2015-07-10 07:48] zavvla opened #137 "New version 2.0.2-128 not working in windows"
Don't compil.
Error with nodejs and error message "clearup"

1 SCSS Problem
×
Error: `libsass` bindings not found in C:\Users\zavadv\AppData\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.2\node_modules\node-sass\vendor\win32-ia32-11\binding.node. Try reinstalling `node-sass`? at Object.sass.getBinaryPath (C:\Users\zavadv\AppData\Roaming\Brackets\extensions\user\jasonsanjose.

[2015-07-10 08:56] zavvla commented on #137
I downloaded and filled in the missing library in the specified path, and all start.
Library downloaded here: https://github.com/sass/node-sass/releases/

[2015-07-10 08:56] #137 closed

[2015-07-10 09:15] bsebastian86 opened #138 "SASS error: cleanup"
The latest update creates an error with the exclamation (!) at the bottom saying, "cleanup". Does not compile anymore. Had to revert to previous version.

[2015-07-10 09:40] pigmeu commented on #138
Same thing is happening to me, to every file i open! How can I revert?

[2015-07-10 10:43] junias91 commented on #138
I have the same problem :-(

[2015-07-10 12:30] derwaldgeist opened #139 "Latest update causes problem with Bootstrap breadcrumbs due to Bootstrap Sass bug"
The Sass version Bootstrap has an issue in the breadcrumbs, see
https://github.com/twbs/bootstrap/issues/16576
This causes the breadcrumbs to render a "\00a0" on the screen, right after the breadcrumb separator.

I did not notice this before the latest Brackets Sass update. But since then, I experience exact the problem described in the issue mentioned above.

Though this is rather a bug in the Sa

[2015-07-10 12:51] derwaldgeist opened #140 "Latest update breaks compass-mixins"
I'm using the compass mixins for libsass
https://github.com/Igosuki/compass-mixins
since I cannot get compass working with Brackets Sass on MacOS due to a timout bug.

Since the last update, these compass mixins are not working anymore, since the compact() will not resolve anymore. This should be related to this issue:
https://github.com/Igosuki/compass-mixins/issues/34

Not really a bug in Bracke

[2015-07-10 17:37] bhouszka commented on #138
Same issue here :(

[2015-07-10 18:21] jasonsanjose commented on #138
Thanks for the reports. Working on it now.

[2015-07-10 18:28] jasonsanjose commented on #138
Fixed in #141. Please try installing 2.0.3 and report back here. Thanks!

[2015-07-10 18:28] #138 closed

[2015-07-10 18:29] jasonsanjose commented on #140
@derwaldgeist can you please try today's update 2.0.3 and let me know if you still have errors?

[2015-07-10 18:35] bhouszka commented on #138
Works great now! thanks!

[2015-07-10 19:33] bhouszka opened #142 "Undefined variable"
I have this issue for some time.

I have a main.scss file including _variables.scss from 'helpers' folder and then some other partials. It compiles smoothly. But now I wanted main.scss to recompile after I save a partial. But it seems the partials do not recognize variables from the _variables.scss and throws an error

Undefined variable: "$heading-font", font-family:$heading-font.

    {
	"sass.e

[2015-07-10 20:23] derwaldgeist commented on #140
HI Jason,

first of all: thanks for your quick reply.

Tested the new version, here are the results:
* Issue #140: Still there, compact() is rendered in plain text to css file
* Issue #135: The timout still occurs if I select ruby as the compiler on MacOS.

So unfortunately, both bugs are still there. But nevertheless, thanks for caring.

[2015-07-10 20:28] derwaldgeist commented on #140
Update: #123 is fixed now, I don't get the @at-root errors in Bootstrap anymore. Yay, at least this annoying problem is gone and I can remove my workaround :-)

[2015-07-10 20:30] jasonsanjose commented on #132
@AugustePop can you try the latest update 2.0.3?

[2015-07-11 03:43] AugustePop commented on #132
Still the same. Brackets SASS version: 2.0.3-132

[code]

I removed all other plugins, before testing this. This problem does not show up on my Mac, so I guess it's somewhat related to my Linux environment.

[2015-07-14 08:24] Jordane-L opened #143 "Doesn't work since last update or before last update..."
All is in the title...

It worked perfectly for several days and that no longer compiles

I don't know if this error correspond to that:

Document ref count has fallen below zero!ErrorNotification.js:125 window.console.error/document/Document.js:180 Document.releaseRef/editor/Editor.js:401 Editor.destroy/view/Pane.js:1093 Pane.destroyViewIfNotNeeded/view/Pane.js:1014 Pane.showView/editor/EditorMan

[2015-07-14 10:14] Jordane-L commented on #143
edit: I tested with version 2.0.1, it works and I re tested 2.0.2 and 2.0.3 and this doesn't work

[2015-07-14 13:47] anejskubic commented on #143
I think its problem on line: "sourceComments": "map", because "map" it's not supported any more, only true/false now .
Correct me if i'm wrong.

[2015-07-14 14:49] Jordane-L commented on #143
thx for your comment but I tried your proposition and doesn't work so :'(
![capture d ecran 2015-07-14 a 18 42 07](https://cloud.githubusercontent.com/assets/7188658/8676199/0e16d37a-2a59-11e5-9b54-02a183e59c59.png)

I stay for the moment with version 2.0.1

[2015-07-14 14:51] anejskubic commented on #143
whit out " ! try: "sourceComments": true,
this should work :)

[2015-07-14 15:13] Jordane-L commented on #143
@anejskubic What idiot I am ! Without "" it works :). Thanks you very much. :+1:

[2015-07-14 15:13] #143 closed

[2015-07-14 15:14] anejskubic commented on #117
@nicolo-ribaudo can you help me with my customization, because I can't figure it out which folder sass is watching for changes? So when I'm changing partials in import, my home.scss & products.scss is not compiling automatic.

I have folders like this:
[code]

my **.bracket.json**:
[code]
**thanks in advance!**

[2015-07-14 16:26] Turqueso commented on #117
What you say and your folders Confuse (Wich are partial? yout need `_`as prefix). But let me see if i goit it right.
home.scss and products.scss are your main file, those have the imports. The rest are partials.
[code]

if `compiled`only contains the map and no partials you don't need to import it. I've not tested it but it should be something like that. Don't fonget to erase comments.

[2015-07-14 16:44] anejskubic commented on #117
@Turqueso, yes **home & products** are main files and have partials in folders **import & icons**. And I know for _ sign for partials, but it doesn't auto compile home.scss & products.scss on change of any partial file.
I have changed all partials to ```_*.scss``` and rewrite *.brackets.json* but no luck.
@jasonsanjose do you have any idea what to do here?

[2015-07-15 14:27] MarcoWilli opened #144 "Latest update breaks working"
Hi!
Just installed the newest update released a few days ago. After that I got an error, that some file is not found. Resetting to lower version (thanks to paper trash) and everything works again.
Working with Foundation 5 and libsass. The "missing" file was _grid.scss. Maybe this helps you.

[2015-07-15 14:56] MatthewRader opened #145 "Help Setting Up"
I've reread your instructions so many times but I can't figure out how to get brackets to compile my scss files. I compile them just fine through compass in terminal but it won't work while trying to use your plug in.

I made the .brackets.json file in my root project directory but brackets keeps telling me that's not valid json file. I literally just copy pasted the json you gave people in other

[2015-07-15 19:07] Turqueso commented on #145
@MatthewRader did you erased the commets? ` /* comment*/ ` happened to me first time

[2015-07-15 19:14] MatthewRader commented on #145
No, I never had any /* comment*/  in my file.

[2015-07-15 20:07] jasonsanjose commented on #145
@MatthewRader can you copy the contents of your `.brackets.json` file here?

[2015-07-15 20:58] MatthewRader commented on #145
Sure, it may be that I'm very new at setting up json files, I've never actually done this before. I really appreciate your responsiveness and help by the way.

{
    "sass.enabled": true,
    "path": {
        "scss/base.scss": {
            "sass.enabled": true,
            "sass.options": {
                "outputDir": "../",
                "includePaths": [],
                "imagePath": null,

[2015-07-15 21:54] jasonsanjose commented on #145
BTW, if you want a starting point for using the ruby compiler and compass, see https://github.com/jasonsanjose/compass-example. More details on compass configuration here https://github.com/jasonsanjose/brackets-sass#sasscompass.

I don't see anything wrong with your `.brackets.json` file. Mind sending the error from Brackets or just paste in a screenshot here?

[2015-07-15 22:16] MatthewRader commented on #145
It's not giving me the error anymore but it won't compile my scss. Here are screen shots of my brackets.json and config.rb. Also I have bower and compass already installed on my computer.

![screen shot 2015-07-15 at 5 15 15 pm](https://cloud.githubusercontent.com/assets/11505180/8711169/4486fef0-2b15-11e5-945f-fc552a392a3a.JPG)
![screen shot 2015-07-15 at 5 15 05 pm](https://cloud.githubuserconte

[2015-07-19 21:22] JonesyH opened #146 "Not compiling on imported file save event."
After updating (and not changing anything) to version 2.0.3-132 brackets-sass no longer compiles when an imported file is saved/changed. It will however compile when saving/changing the main.scss (in which each _file.scss is imported via).

Also note. error when back tracing mixins in imported files. also perfectly fine until updating.

OS : Windows 7
Brackets : R1.3 B1.3.0-16022
Bracket-Sass : 2.

[2015-07-20 15:23] weolo opened #147 "Checking for errors"
Loving your addon but I am having trouble getting it working while at work.
Whenever I view a sass file I see "Checking for errors" in the bottom right corner and the css never compiles.

There is also a yellow triangle which shows this:
1 SCSS Problem
SCSS has timed out after waiting for 10000 ms

Any help appreciated.

[2015-07-21 16:21] EmixMaxime commented on #147
Hello, i also have this problem..

[2015-07-22 13:00] Amstramgram opened #148 "Compile won't work for me"
Hi, i have little problem for compile my file. I don't know if my .brackets.json is correctly write with my file tree.

**file tree**
[code]
*and in my main.scss, i have some import (a and b file)*

**.brackets.json**
[code]

thank you for your time and your help maybe.

[2015-07-22 13:11] #117 closed

[2015-07-22 17:02] Turqueso commented on #148
@Amstramgram `output`is the path, not the final name for the file. It should be something like `"outputDir": "../stylesheets/",`

[2015-07-22 18:43] Amstramgram commented on #148
In the doc, i read that

[code]
but it's ok for me i try tomorrow .

[2015-07-23 06:41] LoganLehman opened #149 ""sass.compiler": "ruby" - /bin/sh: sass: command not found @import 'libs/vars'; - Mac OSX"
Hey everyone,

I set up my brackets.json to the following:

        "sass.enabled": false,
        "sass.compiler": "ruby",
        "path": {
            "assets/sass/main.scss": {
                "sass.enabled": true,
                "sass.options": {
                    "outputDir": "../css/",
                    "includePaths": [],
                    "sourceMap": true,
                    "sou

[2015-07-23 12:41] #148 closed

[2015-07-23 14:30] Turqueso commented on #148
@Amstramgram my bad, i confused `output`with `outputDir`. Your `output`is fine but you are missing `outputDir`

[2015-07-23 14:49] Amstramgram commented on #148
@Turqueso no problem. It's works now i compile my file main.css but only from main.scss not form partial file, i don't know why, so strange.

[2015-07-23 16:00] Turqueso commented on #148
@Amstramgram I'm having issue with partials lately too, did you include the path on ` "includePaths": [],`?

[2015-07-23 23:23] weolo commented on #147
I had already added the "proxy" setting to brackets.json settings file so it was not that.
I figure out what it was for me in the end, I was using Windows XP at work and that does not work with Brackets SASS

[2015-07-23 23:23] #147 closed

[2015-07-25 19:08] jan-herman commented on #146
I have the same problem, except it happens only in some of my projects. It seems random as I couldn't find anything that would tie them together.

[2015-07-25 19:45] jan-herman commented on #146
I tried disabling all of my extensions and there was some conflict with "File Tree Exclude" extension. Now everything works fine. Maybe this will help you.

[2015-07-27 13:39] derwaldgeist opened #150 "Timeout problems on Mac OS X"
Since I switched from Windows to OS X, I cannot use the Ruby compiler any more because Brackets Sass always runs into a time-out error.

Now, my project has grown, and the same problem occurs with libsass as well. I always get the error that the SCSS compilation ran into a time-out (after 10.000 ms).

So in effect, I am not able to use this extension anymore, which is very sad, because it is very

[2015-07-28 10:38] Triloworld commented on #135
There is more problem.
Partials:
 - if updated (example: _bar.scss) then file where partials are imported (example: style.scss) aren't compile (style.css isn't generated, it will if I do it manually).
 - they generate css + map file (partials is treated like normal scss file.

File is imported by directive @import and use _ in name. My OS: Windows.
For timeout problem it can be changed so it compi

[2015-07-29 15:24] dmekier740 commented on #146
Having the same problem, and I do not have "File Tree Exclude" Installed.
This has also started for me in the latest update to the extension.

[2015-07-29 17:36] link2pk commented on #60
Hi jason,

I still couldn't be able to figure out how to remove these unnecessary comments from my generated css file.

here are the screen shots:

![output](https://cloud.githubusercontent.com/assets/12784319/8964993/570276ae-3646-11e5-8f1d-22dc08a20d17.png)
![settings](https://cloud.githubusercontent.com/assets/12784319/8964994/5709f5aa-3646-11e5-890b-7d2047fb4c5a.png)

Any help would be greatly

[2015-07-29 17:56] Turqueso commented on #60
@link2pk i don't see in your `.brackets.json` the part of brackets-sass, just adding `sourceComments`and not the rest won't work. Should be something like:
[code]

[2015-07-29 18:11] link2pk commented on #60
@Turqueso  I did something like this:
![done](https://cloud.githubusercontent.com/assets/12784319/8965794/53f8cb8e-364b-11e5-80ab-d183d77a8869.png)

It's working now. Thanks a lot.

[2015-07-29 18:15] Amstramgram commented on #148
Yes, i include all file whit partial file

[2015-08-07 07:22] justpixel commented on #146
Any news on this? I have the same problem, I disabled my extensions and it's not working.

[2015-08-07 11:19] christraverse opened #151 "installation?"
nb

[2015-08-07 12:06] #151 closed

[2015-08-11 13:47] jGleitz commented on #106
Hi everyone,

I'm facing the same error as described in #105 – brackets sass unfortunately breaks my whole brackets by crashing node.js

I tried the fix suggested by @ldiaz, but I don't get very far, as `npm install` fails:

[code]

As you can see, no `build` directory is created.

Does anyone have suggestions on how to proceed? Can this issue be fixed in the package itself?

System info:

Ubuntu

[2015-08-13 11:28] pigmeu commented on #142
Same thing happening. Any news on this?

[2015-08-18 22:05] derwaldgeist commented on #135
@Triloworld: Could you please explain how to change the timeout - I could not find any option for this.

[2015-08-19 11:44] rredel opened #152 "Weird output when using output style "nested""
When using output style nested, the output adds line breaks and whitespace which actually breaks the css. This only happens when using multiple selectors as a basis.

Input:
input[type=text],
input[type=number],
input[type=search],
input[type=tel],
input[type=url],
input[type=password],
input[type=email],
input[type=date]
{
	+ label
	{
		&:after
		{
			content: '';
		}
	}
}

Expected output:
form

[2015-08-19 19:46] jGleitz commented on #106
I _finally_ got the plugin working for me on Ubuntu 15.04

Here is what I did: (Even after I got @ldiaz' procedure working, it did not fix the issues for me. )

#### Dependencies
I had everything needed available, and I'm not sure which exact packages are needed. You'll definetly need:
* npm (`sudo apt-get install npm`)
* node-gyp (`sudo npm install -g node-gyp`)
* git (`sudo apt-get install git`)

[2015-08-28 12:19] isaachinman opened #153 "Disabling sourceMap doesn't seem to be working"
Hi there, and thanks for this cool extension. Weird that it appears to be the only sass compiler available for Brackets. I'm quite happy with it, but want to be able to disable .css.map files. As I understand it, adding this to one's brackets.json preference file should do the trick:

    "sass.options": {
        "sourceMap": false,
    }

However, it doesn't stop .css.map files from being compil

[2015-08-30 01:08] polonel commented on #146
+1

[2015-08-31 10:54] JenniferSh opened #154 "Help with setup"
Hi,

I'm having trouble setting brackets sass on brackets 1.4 build 1.4.0-16380 .
This is my file structure:
<pre><code class='haxe'>
|Test
|.brackets.json
|--css/
|--scss/
|------/test.scss
</code></pre>

And this is my .brackets.json file:
<pre><code class='haxe'>
{
    "path": {
        "scss/test.scss": {
            "sass.enabled": true,
            "sass.options": {
                "outputDi

[2015-09-01 16:55] Turqueso commented on #154
`sourceComments` is Boolean, must be true or false. Not sure if `imagePath`is supported. everything else seems fine.

[2015-09-02 12:57] drewid82 commented on #146
I had this issue on sites that were over the 30,000 file Brackets threshold.

I excluded a couple of folders in the sites affected and everything now works as expected.

[2015-09-02 18:48] 712Jefferson opened #155 "Getting Started"
Hi,

First off, great work!  Really excited to get started with a new workflow for my design jobs.  I just switched over to Brackets and plan to start using Bourbon/Neat as my basic framework.  I've followed all of your steps as best as possible, but this is still very new to me.  Can you please review and offer advice?

Of course, I installed your plugin.  Presently, my .json file contains the fo

[2015-09-02 19:12] 712Jefferson commented on #155
FYI - I plan to use Bourbon with Neat and Bitters, so I've updated my .json file accordingly:

{
    "sass.enabled": false,
    "sass.compiler": "libsass",
    "path": {
        "scss/style.scss": {
            "sass.enabled": true,
            "sass.options": {
                "includePaths": [
                    "../bower_components/bourbon/app/assets/stylesheets/"
                    "../bower

[2015-09-03 12:00] MarcoWilli commented on #146
Same here for me. Just wondering if I misconfigured something...

Windows 7 64bit, Brackets 1.4.0, No big project. Other project (foundation) works

[2015-09-03 14:38] JenniferSh commented on #154
I tried setting <code>sourceComments</code> as true and as false, I also removed <code>imagePath<code> but it still doesn't output a css file

[2015-09-07 11:38] cardcaptorstacey commented on #146
I'm having this same problem. Turned off all extensions and left this and it refuses to compile. Have to use different software.

On my work machine; Windows 7 64bit. Think SASS is fine on my Mac though (but will check when I get home).

[2015-09-07 17:05] MarcoWilli commented on #144
Never mind. Works now.

[2015-09-07 17:05] #144 closed

[2015-09-07 17:13] MarcoWilli commented on #146
For me now everything is working fine. I guess I was too fast with error reporting...

[2015-09-07 17:15] polonel commented on #146
I still have this issue constantly. If I close Brackets and re-open it will work as intended but as I continue to work on the project and save files; I'll encounter the issue with the main file not compiling. I'll close Brackets and start again.

[2015-09-08 01:41] codethestars commented on #153
This has been bugging me, as well. Looking at the source code, it seems that the boolean alternative to the sourceMap option isn't even being considered. I don't know what the appropriate resolution to this problem is, but I did find a place where you can make a tweak to make it behave correctly. If you find where Brackets is storing the extension's files (for me it's C:\Users\username\AppData\Roa

[2015-09-10 12:15] MarcoWilli commented on #146
Strange behavior. Working on a project with four scss-files. All import same _base.scss. Sometimes it works flawlessly and then it stops to generate the css file. No matter if I change import file or main file.

Brackets json like this
[code]

[2015-09-11 11:32] miguelventura commented on #127
I had the same problem and finally it's solve. The missing string was "includePaths": []"
Now my .brackets.json looks like:
{
    "path": {
        "scss/*.scss": {
            "sass.enabled": true ,
            "sass.options": {
                "outputDir": "../css",
                "includePaths": [],
                "sourceComments": false,
                "outputStyle": "compressed"

[2015-09-11 16:59] stephhider opened #156 "Not able to disable comment line"
{
    "path": {
        "scss/*.scss": {
            "sass.enabled": true,
            "sass.options": {
                "outputDir": "../css",
                "includePaths": [],
                "sourceComments": false,
                "outputStyle": "compressed"
            }
        }
    },
    "dnbard.documents-toolbar.icons": true,
    "dnbard.documents-toolbar.smallIcons": false,
    "dnbar

[2015-09-15 14:57] eurythmia commented on #106
Thanks @jGleitz. I followed your steps (mostly), but found that there were a few superflous instructions. Cloning the repository somewhere in `~` (read: anywhere in `~`. I put mine in `~/Code/brackets-sass`)  negates the need to run `chown` after copying the `node-sass` directory. In addition, there appears to be no need to run `source ~/.bashrc`.

[2015-09-21 16:31] bigflipo opened #157 "I don't know how to use it."
Hello, I'm new here. I'm using Ubuntu Linux and I downloaded:
libsass-master and ran the make command. (I guess that's how you install it)
then I downloaded
jasonsanjose.brackets-sass.2.0.3-132
and dragged it into the brackets extension manager.
It installed correctly.
Then I made a scss file and an html file, and on the html I called a css file with the same name as the scss one, and saved and pr

[2015-09-21 17:53] JohJakob commented on #157
I used Brackets SASS for a while on OS X but now it doesn't output the CSS and CSS.MAP files anymore. I installed it via the extension manager and tried to remove and reinstall it but that doesn't work. I'm using the same Brackets version as @bigflipo.

[2015-09-24 14:28] Turqueso commented on #157
@bigflipo did you created the [.brackets.json file?](https://github.com/jasonsanjose/brackets-sass#sample-bracketsjson-file)

[2015-09-25 13:08] astreihammer opened #158 "Can't install"
Hey Jason,

I can't install the extension via the extension manager, so I manually installed it.
The extension is still not working, here's the log from the debug tool:

Failed to load resource: net::ERR_FILE_NOT_FOUND
/utils/ExtensionLoader.js:220 [Extension] failed to load C:/Users/xy/AppData/Roaming/Brackets/extensions/user/brackets-sass-master - Module does not exist: file:///C:/Users/xy/AppDa

[2015-09-26 15:00] atul10595 opened #159 "sass producing line-comments in equivalent .css files"
For example:
    /* line 7,/Users/path/to/scss  */
    #owl-slider .item {
      width: 100%; }

[2015-10-04 16:16] Insanityandme commented on #157
same issue as @JohJakob , have created a .brackets.json file

[2015-10-11 13:54] NetOperatorWibby commented on #157
@bigflipo @Insanityandme Check out my blog post and see if it doesn't help! https://dsgn.io/thoughts/post/how-to-use-brackets-sass

[2015-10-11 16:13] shawnCaza opened #160 "Max connection attempts reached"
I've been using brackets-sass to compile scss for about a month now.

I'm using macosx 10.10.1. I haven't changed anything in my setup recently.

All worked well yesterday. Today my scss file keeps telling me "Max connection attempts reached" and my changes are not being compiled.

[2015-10-11 19:36] shawnCaza commented on #160
Never mind, I think this is part of a broader problem I am experiencing that goes beyond just this plugin.

[2015-10-11 19:36] #160 closed

[2015-10-12 00:24] bigflipo commented on #157
@Turqueso sorry for the long delay, I wasn't able to answer. I didn't create the json file. So that must be it, I'm going to study how, thanks.

[2015-10-12 06:11] Insanityandme commented on #157
Got it working!

On Mon, Oct 12, 2015, 02:24 bigflipo <notifications@github.com> wrote:

[2015-10-13 01:23] #157 closed

[2015-10-13 01:24] bigflipo commented on #157
Thanks all for your help, I will dig deeper for an answer before asking anything, from now on. sorry for wasting your time. thanks.

[2015-10-16 21:42] srcnalt commented on #159
This is truly annoying :0)

[2015-11-06 08:42] #30 closed

[2015-11-18 11:22] lakshmana opened #161 "Compilation not working when partial are modified"
I have a main.scss file with content as
@import 'helpers';
@import 'resets';
@import "menus";

The file get complies when I save from main.scss. But it doesnot complie when I modify and save any one of the partials.
Can you guide me to fx if this is a bug?

Thank you
Laxman

[2015-11-18 11:23] lakshmana commented on #161
btw, below is the settings used for the project

{
    "path": {
        "mobile.scss": {
            "sass.enabled": true,
            "sass.options": {
                "outputDir": "../css/",
                "imagePath": null,
                "sourceComments": false,
                "outputStyle": "nested",
                "sourceMap": false
            },
            "linting.collapsed": true,

[2015-11-21 20:48] Ampix0 commented on #154
Same exact issue. Has anyone found anything else?

[2015-12-05 15:17] donschello commented on #161
I have exactly the same issue:

project:
![brackets-sass](https://cloud.githubusercontent.com/assets/16166800/11608497/99a61184-9b6b-11e5-8c0f-5f01278ce09d.PNG)

.brackets.json
{
    "path": {
        "sass/app.scss": {
            "sass.enabled": true,
            "sass.options": {
                "outputDir": "../css/",
                "imagePath": null,
                "sourceComments": "map",

[2015-12-05 15:18] donschello commented on #161
use of @import "CustomVariables.scss"; in app.scss makes no difference

[2015-12-06 13:32] donschello commented on #161
today it just works, maybe restart of bracket helped.

[2015-12-07 19:30] formalizator commented on #127
Place the **.b**rackets.json to the **project directory** and **correct paths** at file content ("outputDir").

[code]

[2015-12-10 13:38] sergej2705 opened #162 "update to new sass-version"
Please update the included LibSASS to a new version!

[2015-12-11 19:39] jaymanser1999 opened #163 "Compiling things I dont want it to?"
I have my project setup in a way where I have a css folder and a scss folder.
I saved a scss folder in my css folder name "main.scss" and I imported all of my scss files from the scss folder. The problem is that in my .JSON the scss file in my css folder is the only one with the path, this is what I want to happen. However when I save all it compiles ALL of my .scss files regardless of the .JSON h

[2015-12-18 06:01] lakshmana commented on #161
I had to uninstall compass to make it work.

[2015-12-21 15:33] VonKrauss opened #164 "Globbing @import calls"
Is there any way to import sass files using wildcards? My team uses many .scss files spanned through different folders and it's a hassle to keep adding lines to the main file every time someone makes a new file.

[2015-12-31 12:04] floriantraun opened #165 "@import watch for changes"
Is it possible, to watch for changes made in files which are imported, like @import 'footer'; ?

When I make a change at _footer.scss, I always need to resave/recompile the app.scss to make changes from the imported file work.

[2016-01-06 17:51] VonKrauss commented on #165
That's probably a misconfiguration in your .brackets file. Are your partials in the same directory of your main file? By default every time you save a .scss file the whole map tries to compile.

[2016-01-06 18:15] floriantraun commented on #165
Hi, Thanks for your help! I have uploaded everything on to my server (it's attached to that reply as well):

ZIP: [Desktop.zip](https://github.com/jasonsanjose/brackets-sass/files/80177/Desktop.zip)

Folder Structure: https://floriantraun.at/capture.png
main.css.map: https://floriantraun.at/main.css.map
.brackets.json: https://floriantraun.at/.brackets.json

Thanks for your help!

[2016-01-07 08:41] VonKrauss commented on #165
Hey, your server is throwing 404 errors at me, could you paste here the contents of the map and .json files?

[2016-02-01 16:55] niutech commented on #72
Same with me. I worked around this problem by running: `node-sass --watch --output-style compressed --source-map true scss\style.scss css\style.css` in cmd.

[2016-02-08 16:44] prejr-dev opened #166 "dlopen, cleanup error"
I am running a freshly installed brackets on mac, with only extract and the sass extension. The sass extension wont transpile the scss file. It reports a 'cleanup' issue and sometimes a dlopen issue. I can't trouble shoot it beyond this.

[2016-02-08 17:17] prejr-dev commented on #166
Found an error message. I am not sure how to investigate this further
[code]

[2016-02-13 07:45] ivoilic opened #167 "Remove Comments Prefrence"
I don't have a ton of experience with SASS so I don't know if it's the compiler or your extension but comments with the file path for the source SASS files are added to the CSS. Which for development is great but I'd rather remove them for actual use. It would be great if there was a preference to turn them off.

[2016-02-23 03:24] lance1572 commented on #167
If you haven't figure it out yet maybe this can help. I ran into trouble as well. Took a bit of closing/reopening brackets, deleting the CSS and map file too. Here is my .brackets.json file

[code]

Im on the 1.5 build 1.5.0-16538

[2016-02-23 15:13] majo0od opened #168 "not compiling when copy and pasting code"
The SASS doesn't compile when you copy and paste code. Is there a reason why this happens and if so, how do I stop it from doing that?

[2016-03-03 09:42] SPAHI4 commented on #138
still have this error on 2.0.3

[2016-03-10 13:01] jnaklaas commented on #146
I recently started using this plugin and I'm having the exact same issue...

[2016-03-13 20:06] Learn-Digital-Audio commented on #162
I agree!

[2016-03-19 22:08] #168 closed

[2016-04-11 13:04] Lenalys opened #169 "Bracket Sass Not Compiling - File brackets.min.css.map not found"
Hi !

I have trouble with sass compiling... According to Chrome dev tool a file is missing : brackets.min.css.map. Can anyone help me with that... I'm a new in Brackets ;)

When I test manually this cmd : sass main.scss ../css/main.css it works !

Info : Ruby installer version (2.3.0)

Thanks in advance !

![bug-bracket-sass](https://cloud.githubusercontent.com/assets/12270201/14427457/22c3af6a-ff

[2016-04-11 23:05] David-Else opened #170 "Live preview not working in 'experimental live preview' mode"
Thanks for this AMAZING plugin!

Spent the day getting it working, and now it's great... apart from i can't get live preview when using the experimental mode. I have to press ctrl-s on every move and it's a bummer.

So for now I am stuck with Chrome rather than Firefox, so if you ever get a chance to look into it, then an update would be fantastic!

I am using Windows 7 and Brackets 1.6 with brack

[2016-04-16 17:38] Madebym commented on #162
:+1: for updating LibSASS

[2016-04-24 21:20] edendecko commented on #156
Here is my json file and it save with out comments

`{
    "sass.enabled": false,
    "path": {
        "css/style.scss": {
            "sass.enabled": true,
            "sass.options": {
                "outputDir": "../css/",
                "includePaths": [],
                "sourceComments": false,
                "outputStyle": "compressed"
            }
        }
    }
}`

[2016-05-04 19:24] bvargish opened #171 "Updates appear in Live Preview but CSS file isn't updated"
First off, great plugin! When I had it working a couple months ago I was thrilled!

When I tried using it today, though, something strange happened. I can edit my scss file and see the changes happening to my html file in Live Preview, but the css file is never actually updated. Any ideas what might be up here?

[2016-05-04 19:44] bvargish commented on #171
Never mind! I figured out what the problem is.

I had another project open and had opened my index.html and .scss file by right clicking my files and using _Open in Brackets_. To fix, in Brackets I selected File > Open Folder... and selected my folder instead. Then I clicked on the files to open them and the problem went away.

What gave it away was the URL. At first it started with _file:///_, th

[2016-05-04 19:46] #171 closed

[2016-06-09 01:51] marley627 commented on #19
**my fix**: issue was related to $variables, check that you're referencing them exactly as you've declared them and their value, correct syntax etc. Reload with extensions (f5). Hope this helps someone, stumped me for a bit.

[2016-06-24 15:32] RiesenGurke123 opened #172 "doesn't load changed settings"
Hey your sass addon is realy nice,
but I am not able to configure it like I want it to be.
I have this in my .brackets.json:

[code]

my project:

+ sass/
   + main.sass
+ css/                   <-- **here should the compiled files go in**
+ .brackets.json
+ some html files

ignoring the setting, the sass files are compiled like this:

+ sass/
   + main.css
   + main.css.map
   + main.sass
+ css/

[2016-06-25 10:12] Rafiozoo commented on #172
Hi! Very like a last slash is needed to properly point a directory.
`"outputDir": "../css/"`

[2016-06-25 11:46] RiesenGurke123 commented on #172
It works neither with nor without the slash. Not Only the path is different from the expected, but the hole setting also.
I have `"sourceMap":false`, but the main.css.map is generated. And the output style isn't compressed.

[2016-06-25 19:17] Rafiozoo commented on #172
So your settings are not included and Brackets SASS works on defaults.
Are you sure your **.bracket.json** is located in your root directory, and you have opened this project via Brackets menu: File → Open Folder... [Ctrl+Alt+O]
or file explorer context menu: _Open as Brackets project_ ?

[2016-06-25 19:33] RiesenGurke123 commented on #172
ahh now it works. Folder structure in brackets was /projects/projectXYZ/sass/...
moved .brackets.json one up in the hierarchy.
Thank you verry much

[2016-06-25 19:33] #172 closed

[2016-07-06 14:19] trinity-soft opened #173 "change the compiled css to be CLRF or LF"
my boss gets mad at me now that I use SASS and I give him files that lost formatting due to our systems not matching. I am on MAC - Brackets and use Brackets SASS. I did find a plugin that gives me a button to convert back and forth form LF to CLRF but after I compile my SASS I must open the CSS then convert and resave. Is there a way to set it so it saves as CLRF ?

[2016-07-06 14:22] trinity-soft opened #174 "Have to save twice with _Partials."
I have a main base file with all my partials imported but when I am working inside a partial I must save it, then go save my main SASS master file in order to get a css compile.

Is this normal? Or did I mess my json file up?

[2016-07-22 20:02] marmistrz commented on #166
I have the same problem. Don't have the error message from post 2. At first I have a 'cleanup' error, after saving: 'max connections attempt reached'

[2016-07-23 11:51] marmistrz commented on #132
Arch Linux user, same problem here.

[2016-07-30 12:36] richelbilderbeek commented on #53
[In my case](https://github.com/richelbilderbeek/travis_oclint/issues/1), I did the following to solve the problem:

[code]

[2016-08-04 10:16] geodem opened #175 "Brackets Sass & Brackets Synapse"
Hi,

I want to use Brackets Sass and Brackets Synapse (ftp sync). When I open a .scss file on remote server I get an error that "file is not found or unreadable". Local files work well. Do I have to adapt .brackets.json file?

Thanks for your help!
Georg

[2016-08-21 04:11] albayraktaroglu commented on #158
same problem :@ please help

[2016-08-25 20:23] TsuNut commented on #68
Saving a partial/imported SCSS file doesn't trigger a recompile of the main SCSS file for me neither. :(

[2016-08-25 20:37] TsuNut commented on #146
Same here. :(

[2016-09-14 13:49] spostad7 opened #176 "keep comments and compress css"
i wanted to compress my css file and also want to keep those comment's I wrote in SCSS files. It seems there is no situation like this. here's my .json file:
[code]

[2016-09-14 14:39] Rafiozoo commented on #176
This is logical, because the compressed CSS file is illegible (or extremely hard to read), so what's the benefit of the comments in that?
I you want preserve comments `/*…*/` you need to choose any output style but not `compressed`.
`compact` is the lightest.

[2016-09-14 19:41] spostad7 commented on #176
@Rafiozoo basically comments are used to give information of something in some situation. in SASS u could use variable in comments as well as some other thing as [SASS Documentation](http://sass-lang.com/documentation/file.SASS_REFERENCE.html) said. and beside, i want to keep some comment in CSS files cause other team guys that doesn't use SASS can understand some styles.
I know this is possible t

[2016-09-14 20:00] Rafiozoo commented on #176
You mean a line like that?
`/* line ###, C:/path/to/your/project/scss/style.scss */`

[2016-09-15 05:55] spostad7 commented on #176
@Rafiozoo
exactly!
I don't want a line of comment added before each style and of course I want to keep some of my comments
I think it will be so good to have options for output(compress,...) and preserving some comments together

[2016-09-15 06:34] Rafiozoo commented on #176
Hmmm, it's strange. Those are the source comments. Are you sure that in your .brackets.json is really `"sourceComments": false`? I've tested your .json, and all settings are regarded properly.

[2016-09-15 07:07] Rafiozoo commented on #176
I advise you using task runners, like **Gulp** or **Grunt**.  At single save on Sass file you can get two versions of CSS files, deployed in development version (legible code) and compressed one.
With these task runners you can do much more – awesome things! :)

[2016-09-16 11:22] spostad7 commented on #176
@Rafiozoo
of course it is not keep comment now, cause I choose "false", but I wonder is that possible for compress and comments together
Grunt is good suggestion, maybe I should choose one of this method for readability
tanx

[2016-09-19 14:00] goldenlevimonkey opened #177 "undefined - File to read not found or unreadable"
Verry glad to see an plugin for Sass combined with Brackets.

I'm getting the following error:

undefined - File to read not found or unreadable.

I installed the plugin (good) and download the main files of Bootstrap.
I've made the link standard link:     <link href="Sass/custom.css" rel="stylesheet">
and created a new files /Sass/custom.scss.

What else do i need to include to get the compiler w

[2016-09-23 08:12] engkuskusnadi27 opened #178 "Open minified file problem"
![image](https://cloud.githubusercontent.com/assets/22229833/18778733/fae060a6-819f-11e6-956b-e6b830a5ea25.png)

When open minified file, when I'm scroll about middle of the windows, it's break syntax highlighting, just white color

[2016-10-13 12:20] srse commented on #173
Brackets uses node-sass underneath and node-sass has an option [linefeed](https://github.com/sass/node-sass#linefeed--v300). You could try to add this as a sass.option in your brackets plugin config. If it does not work i.e. meaning the brackets plugin does not expose this option inside brackets yet, you could add this and open a pull request?

[2016-10-16 13:11] Hitunen commented on #174
Same here, but only on OS X. While using on Windows, saving an @imported file updates the generated css file. On the mac version, need to save the main file before css is updated.

[2016-10-21 21:34] trahibidadido commented on #106
Im kind of new to node. Tried to rebuild and get stuck:

`Im kind of new to node. Tried to rebuild and get stuck:

"gyp ERR! build error
gyp ERR! stack Error: "make" failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/node-gyp/lib/build.js:276:23)
gyp ERR! stack     at emitTwo (events.js:87:13)
gyp ERR! stack     at ChildProcess.emit (events.js:172:7)
gy

[2016-10-23 08:27] trahibidadido commented on #166
Same thing on Linux

[2016-10-24 14:50] trahibidadido opened #179 "brackets-electron compatibility?"
![default](https://cloud.githubusercontent.com/assets/11508654/19650374/2388c9a2-9a1a-11e6-90de-4860a20ba160.png)

Health Report:
`
{
    "uuid": "6e42fd4f-e655-4f36-a85f-064e2af05186",
    "snapshotTime": 1477320392154,
    "productName": "Brackets-Electron",
    "os": "linux",
    "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Brackets-Electron/1.8.4 Chrome/

[2016-10-26 15:42] AgamlaRage commented on #153
Same issue

[2016-11-01 12:21] miguelventura commented on #153
I changed the main.js like @codestothestars said, and ("sourceMap": false) works now.
On MacOS this file is stored here (/Users/username/Library/Application Support/Brackets/extensions/user/jasonsanjose.brackets-sass/)
Maybe @jasonsanjose can update this file on next version :)

[2016-11-02 20:03] MrYakobo commented on #75
Kinda old, but ran into this issue as well. The solution was that I was writing in `.SASS` when I was using curly braces (the `.SCSS`-syntax), and as such it was my own fault - renaming the file to `style.scss` solved my problem 100%. You might want to "make this official", I can totally see more people than I run into this.
Oh and btw thank you for such an awesome extension. I really can't figure

[2016-11-05 23:16] lukedeux commented on #159
Has anyone figured out a way to fix this yet?

[2016-11-10 13:03] JTBringe commented on #138
This error started appearing as of today when I updated to release 1.8 build 1.8.0-17108 of Brackets (released Nov. 2 2016).

[2016-11-10 13:06] JTBringe opened #180 ""cleanup" error appears after having updated Brackets"
This error started appearing as of today (Nov. 10) when I updated to release 1.8 build 1.8.0-17108 of Brackets (released Nov. 2 2016).

[2016-11-10 19:15] kimanhle90 commented on #138
I have this problem too.

[2016-11-11 05:34] jessefisher commented on #180
I'm seeing this too and while I can save the Sass it doesn't update the CSS file and then I eventually get this error.

`SCSS has timed out after waiting for 10000 ms`

Same release of Brackets on Windows 10 Pro.

[2016-11-11 08:30] bobbybol commented on #180
Having the exact same issue - updated - cleanup error - SCSS timeout after 10000 ms

[2016-11-11 10:09] Hitunen commented on #180
Ditto. 1.8.0-17108 on Windows 7 with
"name": "jasonsanjose.brackets-sass",
"version": "2.0.3-132"

[2016-11-13 22:39] GrantColloty commented on #138
I too am having this issue after updating Brackets to 1.8.

[2016-11-14 06:50] jedeveraa opened #181 "Update Plugin"
Please update the plugin supporting the latest brackets app. thank you.

[2016-11-14 09:30] nanu-miguel commented on #138
I ma having the same issue after updating to Brackets 1.8 - Any fixes for this??

[2016-11-14 09:34] JTBringe commented on #138
Several of the extensions I rely on stopped working after updating (such as eqFTP).
I ended up having to roll back to the previous version of Brackets (1.7) to get them working again.

[2016-11-14 09:42] nanu-miguel commented on #138
That's not great @JTBringe - I also rely on a few extensions including GIT and Sass which don't work with version 1.8 - Oversight on behalf of the Brackets team?

Did you roll back or do a clean install?  Seems to be a clean install is the only option.

[2016-11-14 17:54] ttomato1 commented on #180
Same problem on a Windows 10 install.  Looks like the extension isn't compatible with the latest Brackets.

I'm also getting a
	Error: `libsass` bindings not found in C:\Users\<user>\AppData\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.3\node_modules\node-sass\vendor\win32-x64-48\binding.node.

I don't have that directory in my extensions directory-  closest is win32-ia32-1

[2016-11-14 23:13] chachah commented on #180
Exactly same troubles for a week.
Sorry. I couldn't wait for a patch. So I opted for the combination of NotePad++ and Scout App.

[2016-11-15 02:05] jedeveraa commented on #180
best solution? just downgrade the brackets app to 1.7 uninstall the new brackets and reinstall 1.7.

[2016-11-15 07:30] jhechtf commented on #138
I too am still having this issue after updating brackets sass to 2.0.3

[2016-11-15 09:26] chachah commented on #180
Hi jedeveraa. I'm not sure that reverting to a previous version because the updates aren't failsafe was ever the really best solution for the reputation of any app. The developers' reactivity is. But after nearly a week I don't see any response here.

[2016-11-15 09:31] jedeveraa commented on #180
hi chachah. yea, for the sake of getting back to work. its my best solution for now. i hope the owner of this plugin will update the version as soon as possible. :(

[2016-11-15 09:42] AgamlaRage commented on #180
I posted the issue to Brakets repository.
Maybe someone can maintain this extension instead.

[https://github.com/adobe/brackets/issues/12914](https://github.com/adobe/brackets/issues/12914)

[2016-11-16 17:38] sanpan93 commented on #180
Same trouble with latest bracket version on Win10 pro.
Doesn't work on all my projects using this extension for sass compilation.
I think i will pass on Atom + sass autocompile or with Grunt process - so frustrating

[2016-11-16 23:01] OhligerJ commented on #180
Can confirm jedeveraa's solution. On my Windows 7 machine, using Brackets 1.7 with this plugin works, but I get the cleanup error using Brackets 1.8

[2016-11-17 02:51] jedeveraa commented on #180
Hi sanpan93, i think is the best solution for now just to work with this plugin is to downgrade your version into 1.7. hope someone will update this plugin. :(

[2016-11-17 10:02] AgamlaRage commented on #180
In Brackets 1.7 there are some important things that not working, like Eslint....
And file loading are really really slow compare to others text-editor, in 1.8 it's a bit better.
I can't downgrade my Brackets juste for compile my Sass file....

[2016-11-17 10:05] jedeveraa commented on #180
hi @AgamlaRage, yeah it depends on our needs. so far all of my extensions are working on 1.7.

[2016-11-17 10:06] AgamlaRage commented on #180
I'm not blaming you !!! :)
I just really want Brackets to have all I need to code !

[2016-11-17 10:42] sanpan93 commented on #180
I confirm it works with bracket 1.7 but as AgamlaRage said, some other extensions are in trouble in v1.7.
Best solution for me : stay with bracket 1.8 (or Atom) and use task manager (grunp or gulp) to compile, minify, autocomplete etc ...=> build and use a solid workflow not depending of an extension.
It's strange that there is only one sass compiler in Bracket, no ? Even the new version of Dreamw

[2016-11-17 22:58] chachah commented on #180
Hi everyone, did you know "Scout App"? It's a standalone app which compiles sass/scss files in the background every time sass or scss files change, just like brackets-sass does. It does the job no matter which editor you use. That is to say you can go on using Brackets. It's a child's play.
https://github.com/scout-app/scout-app

[2016-11-18 10:51] sanpan93 commented on #180
Yes. A good solution for little projects
Prepros is doing sensibly the same thing too : https://prepros.io/

[2016-11-21 16:17] K20 commented on #138
Same here, with Brackets  1.8.0-17108 on windows.

[2016-11-23 14:49] UltraChilly commented on #180
I have absolutely no clue if this will work for everyone but here's a quick fix that did the trick for me :
- reload brackets without extensions
- reload brackets with extensions, that resets the warning which now shows the name and location of the missing file. If you're like me you're missing binding.node inside the darwin-x64-48 folder (which doesn't exist) in the extensions folder.
- navigate

[2016-11-24 00:48] EliteSpartan commented on #166
Same thing on Windows 10 x64

[2016-11-26 13:45] robbailey3 opened #182 "Not compiling in Brackets Release 1.8 build 1.8.0-17108 ("
SCSS files not compiling on save.

My .brackets.json file is:
`
{
    "sass.enabled": false,
    "path": {
        "res/scss/main.scss": {
            "sass.enabled": true,
            "sass.options": {
                "outputDir": "../res/css/",
                "includePaths": [],
                "sourceComments": true,
                "outputStyle": "nested"
            }
        }
    }
}
`

Fi

[2016-12-02 13:14] Humphreto commented on #138
Am having the very same problem of sass cleanup. what should i do

[2016-12-02 13:27] Humphreto commented on #180
@UltraChilly that is very confusing to me

[2016-12-02 13:28] Humphreto commented on #180
@AgamlaRage i think Am going to shift to Atom editor completely

[2016-12-02 15:19] ttomato1 commented on #180
I've changed over to NetBeans.  Can't use a dev environment that won't compile Sass and as much as I like Brackets, I've given up waiting.

[2016-12-02 19:25] UltraChilly commented on #180
@Humphreto Don't worry, it's a terrible solution anyway :p and Atom is definitely worth trying

[2016-12-02 22:07] AgamlaRage commented on #180
I'm using [Koala](http://koala-app.com/) to autocompile my sass file for now, waiting for an update. (on Windows 10).
Koala is one of the recommended application to do that. See [http://sass-lang.com/install](http://sass-lang.com/install).
It's doing well the job, it's easy to setup.

Koala listen the files you want, and compile it when a change occured.
You can customize the output file name, and

[2016-12-05 12:03] miguelventura commented on #180
@UltraChilly, your solution works for me! Thank you :)

[2016-12-07 10:33] AgamlaRage commented on #180
@UltraChilly , works for me too, on Windows 10.

On Windows, I needed the **win32-x64-48** node sass release.

[2016-12-08 11:38] Humphreto commented on #180
@UltraChilly Before using Bracket editor i was a big fan of atom. Now am extremely addicted to bracket i found atom extremely hard to use -- I simply cant use anything else rather than bracket..

So i decided to downgrade my editor to the previous version that works fine with sass..... 👎 [https://github.com/adobe/brackets/releases/tag/release-1.7](url)

[2016-12-09 00:25] brehouse commented on #180
@UltraChilly  worked for me, thanks!

@AgamlaRage Windows solution worked

[2016-12-09 15:58] #180 closed

[2016-12-09 16:06] UltraChilly commented on #180
@Humphreto, @miguelventura, @AgamlaRage, @brehouse, and everyone else who tried my fix, It's probably best you remove the folder we added and update the plugin properly now it's fixed (so we don't break anything) ;)

[2016-12-09 20:26] brehouse commented on #180
Hey - looks like the latest update doesn't account for windows

[2016-12-09 22:22] UltraChilly commented on #180
@brehouse oh, my bad :'(

[2016-12-09 22:33] AgamlaRage commented on #180
I didn't see any update too. Windows 10

[2016-12-10 10:32] bobbybol commented on #180
For windows, you _could_ just update node-sass yourself. At least that's what I did right after I saw what was wrong, and it works fine. Assuming you have node installed, go to <you_user>\Appdata\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.3 and put your cursor in the address bar, type `cmd` to open console, and type `npm install node-sass`. Now the extension is using late

[2016-12-10 12:35] Brainzyy commented on #180
@brehouse @jasonsanjose @AgamlaRage I only sent in a fix for macOS, I will send in more fixes shortly, when I have time.

[2016-12-13 13:21] jnaklaas commented on #68
Hi
I'm still having this issue, as this post has been around for a while: is there any solution for this?

Sass only compiles when updating the main scss file, not when saving an @import scss file.

[2016-12-13 13:47] jnaklaas commented on #146
I'm also still having this issue.
Disabling all other extensions solved the issue (once, temporarily).
After enabling a bunch of extensions got the issue back.
Disabling all extensions (one by one to find out which one caused the issue) didn't solve the issue this time.

Please help :-(

[2016-12-15 12:53] Humphrzy commented on #180
@AgamlaRage how did you get it done on win 10. please i need yelp.....please
Am dying without it... i have absolute no idea what nodes are

A  screen recording would real help

[2016-12-15 13:32] gverm commented on #180
@jasonsanjose can you make a beta release so people can test my changes?

[2016-12-15 13:38] AgamlaRage commented on #180
@Humphreto  to fix this on **Windows 10** I applied the @UltraChilly solution.
You need to follow the steps that he described.
But in windows you need to download the **win32-x64-48 node sass release** to make it work.
[https://github.com/sass/node-sass/releases](url)

[2016-12-15 14:08] gverm commented on #180
@AgamlaRage This has been done in latest git as well, but the release has to be done first.

[2016-12-16 12:46] gverm commented on #180
@Humphreto @brehouse I created a new release that fixes your issues here: https://github.com/Brainzyy/brackets-sass/releases/tag/2.0.4

[2016-12-19 20:37] jasonsanjose commented on #180
@Brainzyy I unfortunately (and quite obviously 😞 ) haven't had the time to keep this extension updated. I can transfer the ownership of the extension on the Brackets registry to you if that works. Just let me know.

[2016-12-19 22:42] gverm commented on #180
@jasonsanjose I can try and keep this updated, I have limited programming knowledge, but I can make sure node-sass is updated and that problems are dealt with. I would like to make a new release, so that people can update through Brackets.

[2016-12-19 22:45] gverm commented on #181
@jedeveraa You can find a new release here: https://github.com/Brainzyy/brackets-sass/releases/tag/2.0.4
This is unofficial for now, but I will try to release it through the official channels.
EDIT: An official update has been rolled out through Brackets.

[2016-12-19 22:45] jasonsanjose commented on #180
@Brainzyy done.

[2016-12-19 22:46] gverm commented on #166
@prejr-dev @marmistrz @trahibidadido @EliteSpartan Try this release: https://github.com/Brainzyy/brackets-sass/releases/tag/2.0.4
EDIT: An official update has been rolled out through Brackets.

[2016-12-19 22:52] gverm commented on #180
@jasonsanjose EDIT: updated

[2016-12-21 14:37] dieppham222 opened #185 "brackets crashes after updating the latest sass"
![untitled](https://cloud.githubusercontent.com/assets/24699353/21393032/3ebff2c6-c7c5-11e6-83c5-0d423fb67a52.png)
brackets constantly crashes after update.
What can I do to fix this problem?

[2016-12-21 16:32] gverm commented on #185
@dieppham222 Which OS are you running?

EDIT: and what version of Brackets are you running?
I tested it on Brackets 1.8 on windows 10 64 bit and macOS Yosemite and it worked fine.

[2016-12-22 09:47] dieppham222 commented on #185
I'm using brackset 1.8 . window 7 64 bit still normal.
after updating sass the new version shall be as above.

[2016-12-22 12:57] gverm commented on #185
@dieppham222 I'll check it out. If you manage to fix it in the meantime, let me know.

[2016-12-23 14:15] gverm commented on #185
@dieppham222 I just checked it out on Windows 7 64bit and it works fine on my end.
I did have to allow the new node through the firewall when it asked me.
That could be your problem. Try disabling your firewall or try to allow all the traffic from brackets.

[2016-12-24 20:30] Humphrzy commented on #180
thank you so much @jasonsanjose @Brainzyy for your work. i wonder how how i could get css declaration suggestion as i type in SASS

[2016-12-25 01:18] gverm commented on #180
@Humphreto I can't help you with that, sorry. But if you have any issues, don't hesitate to contact me. I hope @jasonsanjose can help you.

[2016-12-25 01:22] gverm commented on #106
@trahibidadido Sorry for the late response, is this still an issue? I'll be testing Linux compatibility tomorrow. I know it is broken, but I will do my best to try and fix it ASAP and roll out another update.

[2016-12-25 01:25] gverm commented on #132
@AugustePop @marmistrz Sorry for the late response, is this still an issue? I'll be testing Linux compatibility tomorrow. I know it is broken, but I will do my best to try and fix it ASAP and roll out another update.

[2016-12-26 08:47] dieppham222 commented on #185
Thank you!

[2016-12-27 09:55] akuzia commented on #106
@Brainzyy I've switched to Atom since that moment, if I'll have some spare time I will test dev branch, if it will be available

[2016-12-27 10:10] gverm commented on #106
@trahibidadido You don't have to do anything with Github, I pushed an update to the Brackets Extension Repo. So just update/install the plugin from inside Brackets.

[2016-12-27 10:18] akuzia commented on #106
@Brainzyy maybe I've forgot how to use it, but I get no errors, same s no finl css compilation. node v 4.2.6

[2016-12-27 10:24] akuzia commented on #106
I've double checked my pref. Everything should be ok, but...
`
	"sass.compass": false,

	"sass.compiler": "libsass",

	"sass.enabled": true,

	"sass.options": {

		"_eventHandlers": {

			"change": []

		},

		"type": "object"

	},

	"sass.timeout": -1,`

[2016-12-27 10:40] gverm commented on #106
@trahibidadido I have no clue about that... I tested on Ubuntu, just installed brackets and installed the plugin. Installing a custom node version could pollute everything. because I updated the version of node shipped with the plugin to a version that works with most Linux distros.

[2016-12-30 04:30] JituG22 commented on #158
@astreihammer
I was facing  the same problem. but now i have fixed you need to remove old version of the "brackets-sass"  and install it with new version of "brackets-sass" V 2.0.4-132. They have fixed default error in latest new version..!
Here are the below URL for new "brackets-sass" V 2.0.4-132
[https://github.com/Brainzyy/brackets-sass/releases/tag/2.0.4](https://github.com/Brainzyy/brackets-

[2016-12-30 10:23] gverm commented on #158
@JituG22 That is an old version. You can now get v2.0.5 directly from Brackets, use that version. v2.0.4 is outdated. Or get it here: https://github.com/Brainzyy/brackets-sass/releases/tag/2.0.5

[2016-12-30 13:30] JituG22 commented on #158
Thanks Brainzyy  for update ( :

[2017-01-03 23:23] SirTobey1337 commented on #177
Note.js framework is not necessary for using this plugin, as it depends on an extra library.
I think your problem is that you don't have edited the json-file of Brackets.

1. Click Debug -> Open Preferences File
2. Paste the following before the last closed curly brace:

[code]
3. Save the brackets.json file.
4. Go to your project folder and create a new folder "css".
5. Save your changes in your

[2017-01-10 20:41] ghost commented on #39
I had to say

`"outputDir": "../css",`

Removing the final forward slash, then, for some reason... then it worked

[code]

[2017-01-13 08:29] ghost opened #186 "Needs to display errors"
In brackets version 1.8.0-17108 needs to display the reason the compiling has failed and it's hanging, instead of just stating that it's timed out.

[2017-01-13 09:00] gverm commented on #186
@gfaiers What version of the plugin are you using and what OS are you using?

EDIT: The timing out can have 3 different causes:

1. You are using Windows and didn't accept the connection of node-sass through windows firewall
2. You are using an old version of the plugin or are using a custom installed node-sass
3. You are using an unsupported version of Linux
(4. An update of Brackets broke someth

[2017-01-13 09:03] ghost commented on #186
2.05 plugin

Windows 10 OS.

Using it a bit more in depth, it feels like it just crashes randomly? Currently developing a simple clock in sass and it needs me to close and reopen brackets every 2 mins due to it timing out.

Windows firewall isn't blocking it
Using the latest version downloaded through Brackets

On 13 January 2017 at 09:00:45 -00:00, Brainzyy <notifications@github.com> wrote:

[2017-01-13 09:04] gverm commented on #186
@gfaiers I'll check it out ASAP, but I have exams right now, so don't have much time.

[2017-01-29 21:35] nathan30 opened #187 "Modify Nested output"
Hi,

I want to know what files, or functions I have to modify in order to change the nested output. I exaplin myself

For now, the css nested output is like this :

`body {
  color: red; }`

And I want a nested output like this instead :

`body{
     color: red;
 }`

Is it possible ?

Thanks in advance

[2017-01-30 07:13] rickibarnes commented on #174
@Hitunen did you have them configured identically? Because I am on Windows 10 and I have to do the double save.

[2017-02-08 15:48] stevenkellow commented on #159
+1 for this, super annoying that this is added

[2017-02-10 13:24] mikemedd commented on #169
Same problem...it compiles when I update my global.scss file which contains my @imports but not when saving those individual imported files, ie I have a global.scss with a list of imports (file1.scss, file2.scss etc). When I edit and save global.scss, it compiles file1,file2 etc but when editing and saving file1,file2 etc, it doesn't. I'm using version 2.0.3-132 which I know is outdated but the up

[2017-02-13 01:39] gverm commented on #186
@gfaiers My exams are done and I can look at this now. Can you maybe supply me with a project (in private if you prefer that), so that I can check out the random crashes.

[2017-02-13 01:45] gverm commented on #169
@mikemedd 2.0.4 and 2.0.5 were little updates and changed nothing to the actual workings of the program. It just added support for Brackets 1.8 on Linux and macOS (and windows 10). What exactly isn't working and how would I reproduce it?

[2017-02-17 23:20] danielle93 commented on #146
Still having this issue...Uninstalling and reinstalling the plugin worked the first time for me but it stopped working again and no matter what I do it won't work.

Super frustrating. Help!

[2017-02-17 23:25] gverm commented on #146
@danielle93 What OS are you using, plugin version?

[2017-02-18 09:56] jnaklaas commented on #146
@gverm I'm on macOS 10.12.3 (Sierra), plugin version 2.0.5, still having the issue.

[2017-02-18 19:01] donames commented on #138
I see no fix so far?  I guess I can ignore it.

[2017-02-18 20:05] touhid-rahman opened #188 ".brackets.json and SASS not working"
Hi Jason,
I am using updated Brackets SASS V-2.0.5 and I am having 2 issues:

#1. SCSS is working great but SASS is not working at all. I am using windows; SASS 3.4.23 is installed in my pc as well as Ruby and Rails.

#2. .brackets.json seems not to be working at all. You can see the code and path here; any idea?
![1](https://cloud.githubusercontent.com/assets/12387698/23096484/cdad6a80-f647-11e6-

[2017-02-23 09:45] simonerlandsen commented on #161
A f5 refresh did it for me as well.

My setup is one file (styles.scss) importing all partials, and then only compiling that one file on saving the partials.

.brackets.json
[code]

[2017-03-12 02:40] paulowashington commented on #8
Bracket is fantastic, but I'm not able to make the sass build work properly. It seems to be a big problem .. I reviewed the internet but I did not find the solution.
Problems with my project:

* I installed the ruby ​​to see if it worked but it is as before without it.
* Use windows 10

Please someone help me!

    "sass.enabled": false,
    "path": {
        "scss/main.scss": {
        "sass.comp

[2017-03-15 06:35] bsebastian86 commented on #188
Yup, I can confirm. SASS not working.

[2017-03-15 17:29] ghost commented on #186
@gverm the projects I've had this issue with are on my account now; although it's not to do with the projects, it happens even if I make a new project.  Next time I notice it I'll look at what I did prior, think it happens every time I use Brackets, but if I do something else with it, not straight into working on css.

[2017-03-17 12:50] bstras21 commented on #188
Not working for me either!

[2017-03-21 15:43] joakimc opened #189 "Live Preview not working for nested class names (BEM CSS) when preceded by nested property"
I just discovered that Live Preview doesn't work for nested class-names when preceded by something like this:

[code]

Here's the complete code for this block, which doesn't work with Live Preview unless removing the piece above:

[code]

[2017-03-24 08:35] jedeveraa opened #190 "Cleanup error when i update brackets v 1.9"
Hi Brainzyy thank you for supporting this plugin!

When i update brackets v 1.9 the cleanup error always shows up and not compiling.

[2017-03-24 08:46] bobbybol commented on #190
Same here.. same problem as when the 1.8 version came out

[2017-03-24 09:29] gverm commented on #190
@jedeveraa @bobbybol I'll see what I can do tonight.

[2017-03-24 11:43] jedeveraa commented on #190
thanks @gverm

[2017-03-25 12:41] ghost commented on #190
`Error: `libsass` bindings not found in C:\Users\AppData\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.3\node_modules\node-sass\vendor\win32-ia32-48\binding.node. Try reinstalling `node-sass`? at Object.sass.getBinaryPath (C:\Users\AppData\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.3\node_modules\node-sass\lib\extensions.js:148:11) at Object.<anonym

[2017-03-26 21:11] gverm commented on #190
@jedeveraa @bobbybol @gfaiers Could you try this version:
[test version download](https://mega.nz/#!dwNRmKAR!emTP8ZQXq5nfe4ZobHkjsZco_3BpzcC6BUktMGodP-Q)
Be sure to remove your old version first and just reinstall by dragging this zip to the extension manager.

EDIT: I tested this test version on Win 7 (64bit) and it worked on 1.9, please let me know how it works for you and which OS you used.

[2017-03-26 21:26] gverm commented on #188
@touhid-rahman 2.0.4 and 2.0.5 were small updates that fixed support for Brakcets 1.8. Can you and @bsebastian86  try and uninstall your own installed version of node-sass (or whatever it is) because this plugin comes with a "custom" packaged version of SASS so they could be interfering.

and #2 is a known issue, but that's something I can't fix.

[2017-03-27 07:34] bobbybol commented on #190
Test version works ;) (on Win10-x64)
Not tested for performance or anything, just checked if it compiled and it did so fine.
What exactly fixed the issue? Perhaps we can figure out a more robust solution so the plugin doesn't break on every Brackets update..
Thanks @gverm and cheers!

[2017-03-27 12:06] gverm commented on #190
@bobbybol This plugin relies on node-sass. For some reason every new Brackets release adds some new checks or features that require a new version of the pre-packaged node-sass. I don't think there's a better way to fix this without rewriting the whole plugin.

[2017-03-29 11:37] joakimc opened #191 "Quick Edit only works for index.html"
I have another html-file, products.html, which is almost identical to index.html, but when using Quick Edit I only see style.css. In index.html it works beautifully.

[2017-03-31 16:38] nickpish commented on #190
@gverm I was just about to post re Brackets 1.9 when I saw this thread-- I can confirm your fix is working on Win10x64 as well. Thank you for the fix!!

[2017-04-02 12:35] ngomjnhthj commented on #180
@UltraChilly Thank you. It working for me. But I'm missing binding.node inside the win32-ia32-48 folder.
My error:
Error: `libsass` bindings not found in Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.3\node_modules\node-sass\vendor\win32-ia32-48\binding.node.

[2017-04-02 12:39] gverm commented on #180
@ngomjnhthj try the version from: https://github.com/jasonsanjose/brackets-sass/issues/190

[2017-04-02 12:47] ngomjnhthj commented on #180
@gverm Thank you so much. It's working for me.

[2017-04-11 06:28] VincentDomo opened #192 "Beginner problems : outputDir and sourceMap"
Hi,
I am having some problems with your module to do some specific task.

I would like to have no sourceMap but even when I put the option to false, it still compile with a sourceMap file... any idea ?
And second problem, I have several scss file in several folders.
For example :
- /sass/file1.scss
- /sass/folder1/file2.scss

When I try to compile the file2.scss, I would like to have the css file

[2017-04-12 15:30] samuel-clara opened #193 "Doesn't always compile css when file changes"
Until now I used Brackets with sass compiler on windows and it worked perfectly, now I'm using it on mac and  when I save a scss file the plugin doesn't always compile the css. No errors showed, I try to install previous versions but the problem is still here.

[2017-05-12 18:15] chriskirknielsen opened #194 "Imports not distributing to eachother (undefined variable, no mixin named…)"
Hello there,

I've been having issues since this morning with my SCSS files. The extension doesn't seem to compile any more, for reasons unknown, as it was working perfectly fine last night. Let me tell you a bit more, as I'm sure my title is a bit confusing:

Today, it seems Brackets SASS is unable to fetch the various dependencies and distribute them to each other, and so the imported files don'

[2017-05-19 06:06] bathanusing commented on #180
@ngomjnhthj i was having the same issue and i just downloaded https://github.com/sass/node-sass-binaries/blob/master/win32-ia32-48_binding.node and cut and paste that file inside a folder "win32-ia32-48" in node-sass/vendor and all works good ;)

[2017-05-28 11:19] zkelo opened #195 "`libsass` bindings not found."
When I edit any scss file i given this error:

How to fix it?

[2017-05-28 11:28] #195 closed, assigned to nobody

[2017-06-12 08:20] zkelo commented on #193
I have the same problem on Windows. Just reload Brackets (on Windows by F5, i don't know how to do it on Mac).

[2017-06-12 20:58] wkaskie commented on #190
I am experiencing this same issue on Mac OS X v10.11.6.  The test version will not load "due to unknown internal error"

[2017-06-19 02:51] flaviusemil commented on #121
I think that your problem is with this line of code `"output": "style.css",` try deleting it and see if it works.
You enabled sass for every ***sass*** file in **sass folder** but your output is always the same. Even if you modify another file it will only override ***style.css***.

[2017-06-19 03:02] flaviusemil opened #196 "SASS Pass parameters."
I had a project that I needed to pass some parameters to the sass compiler. And I could not find any method of doing it.
I needed to pass some required ruby modules before the sass compiled.

I think it would be a very useful addition.

[2017-06-28 16:15] Emmathem commented on #19
I can't compile my sass file, getting timeout and sometimes cleanup... what is the solution, please?
No error in my sass file

[2017-07-10 19:32] Strydom commented on #195
I'm also getting this problem. How did you fix it @zkelo ?

[2017-07-12 21:08] #182 closed

[2017-07-17 20:31] AmitMDesign opened #197 "not working"
Error: `libsass` bindings not found in C:\Users\amitmdesign\AppData\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.3\node_modules\node-sass\vendor\win32-ia32-48\binding.node. Try reinstalling `node-sass`? at Object.sass.getBinaryPath (C:\Users\amitmdesign\AppData\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.3\node_modules\node-sass\lib\extensions.js:14

[2017-07-20 14:18] mati080 opened #198 "Problem with bracket SASS and XAMPP"
I'm a Linux user. Using XAMPP I created a local server on which I put my website. As an IDE I use Brackets. When flipping through my entire directory with the htdocs directory in Brackets, the following error pops up:

`EACCES: permission denied, unlink '/tmp/brackets-sass/717f566b24ed5482480c2be74dcda6ea/opt' `

[2017-07-23 11:30] nehamjadhav opened #199 "Cleanup issue with latest versions of brackets and plugin"
Brackets version 1.10
plugin 2.0.5
1. Installed Ruby
2. Installed Sass
3. Created .brackets.json with following code.

{
    "sass.enabled": false,
    "path": {
        "SASS/app.scss": {
            "sass.enabled": true,
            "sass.options": {
                "outputDir": "../CSS/",
                "includePaths": [],
                "sourceComments": true,
                "outputStyle":

[2017-07-27 20:42] lucasmontec commented on #197
I'm having the same problem.

[2017-07-29 06:54] syahmi518 commented on #138
got same issues .. Cleanup Error

[2017-07-29 12:27] Humphrzy commented on #199
I have just upgrade to bracket 1.10 and this issue pop up again (every time I upgrade bracket). Please Yelp................

1. some times when I downgrade bracket the error disappear, Although I hate this options it works.
2, Or I use Prepos to compile sass to css-----------------it works but the worst alternative.

This time I want to use the latest versions of bracket every time Adobe release

[2017-08-03 11:52] doige commented on #190
[test version download](https://mega.nz/#!dwNRmKAR!emTP8ZQXq5nfe4ZobHkjsZco_3BpzcC6BUktMGodP-Q) from @gverm
works fine with brackets 1.9 and win10.

Any experiences with Brackets 1.10?

[2017-08-03 12:05] gverm commented on #197
@AmitMDesign @lucasmontec try this version: https://mega.nz/#!N0lDmB5Z!N32mfb_YTtt6facHH0vkoCPHWq9tWD--jHiKAUPyqQ8

[2017-08-03 12:05] gverm commented on #199
@nehamjadhav @Humphreto try this version, be sure to uninstall first. https://mega.nz/#!N0lDmB5Z!N32mfb_YTtt6facHH0vkoCPHWq9tWD--jHiKAUPyqQ8

[2017-08-03 12:06] gverm commented on #190
@wkaskie @doige Try this version, please uninstall first. https://mega.nz/#!N0lDmB5Z!N32mfb_YTtt6facHH0vkoCPHWq9tWD--jHiKAUPyqQ8

[2017-08-11 13:01] ghost opened #200 "Red dot added when the css is set to compressed."
![image](https://user-images.githubusercontent.com/17183426/29213954-4e66627a-7e9d-11e7-8d6e-2b8935254a40.png)

The plug-in works fine when it's set to nested, but as you can see on the left hand panel, there is a small red dot before all of the compiled css which is stopping the all selector from working.
![image](https://user-images.githubusercontent.com/17183426/29214009-8ee42b8e-7e9d-11e7-9902

[2017-08-11 13:24] ghost commented on #200
Seems to be a zero-width no break space, found from here: https://apps.timwhitlock.info/unicode/inspect?s=%EF%BB%BF

Brackets shows it as a red dot. Any idea why this is being compiled into my css?

This is the beginning of my scss file:
![image](https://user-images.githubusercontent.com/17183426/29214871-b88dce38-7ea0-11e7-971d-fde8dac1ef49.png)

[2017-08-11 14:13] ghost commented on #200
I've now found that this disappears if I export the css into its own folder, so I'll use this as a workaround for now.

[2017-08-19 11:20] Rafiozoo commented on #180
https://github.com/jasonsanjose/brackets-sass/issues/190#issuecomment-319950279 this helped to me

[2017-08-19 11:22] Rafiozoo commented on #138
https://github.com/jasonsanjose/brackets-sass/issues/190#issuecomment-319950279 this helped to me

[2017-08-25 19:18] robertjallen commented on #197
same here

[2017-08-25 19:19] gverm commented on #197
@bobbidigi Can you try the version linked above?

[2017-08-25 19:23] robertjallen commented on #197
I just downloaded but not sure how to install
Never used a zip for extensions. Whats the next step

[2017-08-25 19:24] gverm commented on #197
@bobbidigi Open the extension tab and drag the zip into it, but make sure all older version of the plugin were removed first.

[2017-08-25 19:27] Rafiozoo commented on #197
Alternative source for working [Brackets SASS @ v. 2.0.7](https://www.dropbox.com/s/luv13lpaf2mi6rc/jasonsanjose.brackets-sass.zip?dl=0)
// I'm on Brackets 1.10

[2017-08-25 19:34] robertjallen commented on #197
k thanks check back in a min if you have time.

[2017-08-25 19:41] robertjallen commented on #197
its not letting me drag the file into the zip area. It might be because I have wnirar.

[2017-09-01 22:41] sorre97 opened #201 "Compiling gets stuck"
Hi, when hitting "save" the plugin compiles the sass file and write inside the css file
But after a few saves the loading icon at the bottom keeps spinning and the plugin stops working (not converting anymore and gets stuck)
any idea?
<img width="203" alt="screen shot 2017-09-02 at 00 41 14" src="https://user-images.githubusercontent.com/21014585/29990027-77749e30-8f77-11e7-8481-e9316b7e3fa1.png">

[2017-09-04 14:34] KhaledAhmedYounes opened #202 "Version 2.0.5 not working"
I installed Brackets SASS version 2.0.5 but I can't get it to work. After creating the Sass file, Brackets gave me a "cleanup" error. I tried installing an older version of the plugin but the installation would fail and Brackets would force the update

[2017-09-04 15:59] Rafiozoo commented on #202
Try [Brackets SASS v. 2.0.7](https://www.dropbox.com/s/luv13lpaf2mi6rc/jasonsanjose.brackets-sass.zip?dl=0)
works on 1.10

[2017-09-04 16:29] KhaledAhmedYounes commented on #202
Thank you so much, it works perfectly now 😄

[2017-09-26 10:09] ben4d85 opened #203 "Unusable after installing Brackets 1.11"
After updating to Brackets 1.11 today, and updating the Brackets SASS extension to 2.0.5, the extension **stopped working** (note that I never had any issues before this).

The error I get when saving a file is:
`cleanup`

If I then save the file again, I get the following error:
[code]

How can this be fixed, please?

[2017-09-27 13:35] kaufsim commented on #203
folder win32-ia32-48 is not present in
 `%APPDATA%\Roaming\Brackets\extensions\user\jasonsanjose.brackets-sass\node\2.0.3\node_modules\node-sass\vendor\`

[2017-09-28 13:24] Chadwickd opened #204 "includePaths not working"
I'm using brackets 1.10 and version 2.0.7 of the plugin. As far as I can tell includePaths doesn't work. I have the below folder structure.
![image](https://user-images.githubusercontent.com/1402041/30968845-f4d76332-a460-11e7-9af1-ad9edf854192.png)

and I'm using the below in my preference file.
{
    "sass.enabled": false,
    "sass.compiler": "libsass",
    "path": {
        "custom/custom.scss

[2017-10-02 01:26] HeadBit commented on #128
I know this an old topic, but I too have had a heck of a time getting the directories to reflect the appropriate output...  until I found this:

[code]
It works.

Cheers

[2017-10-12 00:58] ivoilic opened #205 "Sass compiling timing out constantly with Brackets 1.11"
Keep having an issue where everything is compiling fine for a bit then suddenly I get a warning that compiling has timed out. I have to restart brackets or reload in order to get it to compile again. Nothing is wrong with my sass. This only started after I upgraded to Brackets 1.11.

[2017-11-29 11:46] Edwingi commented on #203
Same problem, also using 1.11 & 2.0.5

[2017-11-29 12:48] vdGeld commented on #203
The 2.0.7 version attached to issue https://github.com/jasonsanjose/brackets-sass/issues/202 solved it for me;

[2018-01-17 09:07] cschoenecker commented on #153
Same issue for me.
In your solution @miguelventura the .map file are not builded but url for this file stay in the css output file with cause error in console.

[2018-01-26 13:46] photografx commented on #190
Hello! its 2018 and the Problem is still here !?
Brackets 1.11
Brackets SASS 2.0.5
on Win7-64
@gverm your version inst available anymore :(

[2018-02-13 11:16] EstevanM commented on #53
@richelbilderbeek it worked for me, thanks. My problem was running Matlab R2015a on Ubuntu 12.04. It was missing GLIBCXX_3.4.17

[2018-02-15 05:15] ahopetoday commented on #167
Here's my solution on Windows 10 to remove comments for all projects compiling .scss and .sass--

Open the .brackets.json file located at _C:\Users\\{USERNAME}\AppData\Roaming\Brackets\\.brackets.json_ and add the following line:

`"sass.options":{
    "sourceComments":false
},`

My complete file looks like:
[code]

Once again- this will change the setting for all .scss and .sass you compile in yo

[2018-02-28 20:23] RodionPro commented on #190
Привет из 2018 года.
Использую Windows 10 64x и Brackets 1.12
Но ошибка Cleanup до сих пор не исправлена((((

[2018-02-28 20:40] RodionPro commented on #190
@gverm
this link does not work

https://mega.nz/#!N0lDmB5Z!N32mfb_YTtt6facHH0vkoCPHWq9tWD--jHiKAUPyqQ8

[2018-06-16 23:39] ghost opened #206 "Compiler does not recognize css-grid [col-start]"
Hello,

I'm having an issue with the compiler, it does not parse css-grid's [col-start]. I googled it and apparently I need the latest version of sass. How can I update it in the brackets extension?
Again, I might be wrong, maybe that's not the issue and it's running the latest version, I don't know.

Here is the error:

Invalid CSS after "...mns: repeat(12,": expected expression (e.g. 1px, bold),

[2018-06-18 06:52] jyoonsong opened #207 "Compiler status icon disappeared"
Brackets 1.2
macOS Sierra

![screen shot 2018-06-18 at 3 35 57 pm](https://user-images.githubusercontent.com/17509651/41521525-756a6ef6-730d-11e8-9b91-e9c6d488c458.png)

Status bar icon doesn't show up. I tried reinstalling the extension, restarting Brackets, and update the version from 1.1 to 1.2 but didn't work.

[2018-06-25 18:02] AmerDajeh commented on #190
@gverm
can you re upload the files :)

[2018-06-27 01:10] MartinGeldart commented on #68
Try adding this commented-out line to the top of all of your _partial files:

`// main: main.scss`

This tells SASS to compile your main SCSS file when saving a partial. Obviously, change `main.scss` to whichever filename you're using as your main.

[2018-08-02 21:34] ahuseyn commented on #197
@Rafiozoo thank you so much! I've wasted 2 days on it and after giving up found your link. version 2.0.7 is only working solution for me. (on Brackets 1.13) And I'm very angry about this plugin with poor documentation and full of errors! Unfortunately there is no alternative for this plugin.

[2018-08-22 15:35] RodionFadeev commented on #197
@Rafiozoo ОГРОМНОЕ ТЕБЕ СПАСИБО! Я на Brackets 1.13 и плагин по твоей ссылке работает с этой версией. Ещё раз тебе большое спасибо!!!

@Rafiozoo THANK YOU VERY MUCH! I'm on brackets 1.13 and the plugin on your link works with this version. Once again many thanks to you !!!

[2018-09-05 12:20] Humphrzy opened #208 "Clean up error on bracket 1.13"
Anyone with any idea of solving this issue. I can't use bracket without sass installed

[2018-09-05 12:47] Humphrzy commented on #199
@gverm That link no longers works. What happened to it?
Am trying sass on bracket 1.13

[2018-12-28 12:46] #170 closed

[2019-02-21 10:54] RodionFadeev commented on #208
Можешь скачать эту версию, она работает с Brackets 1.13 (но не работает live previev). Изменения вступают в силу только после сохранения Ctrl +S файла (((

You can download this version, it works with Brackets 1.13 (but live previev does not work). Changes take effect only after saving Ctrl + S file (((

https://drive.google.com/open?id=1i6qyVh614IaJwTxNGU4SPMfnBtAulSLA

[2019-02-21 11:06] RodionFadeev commented on #202
@Rafiozoo

в Brackets 1.13 при установки плагина твоя версия плагина SASS работает, но перестало работать live previes. Что бы увидить изменения необходимо каждый раз сохранять файл Ctrl+S, только тогда стили компилируются. Нет ли у тебя новой версии плагина, в которой бы live previev снова работал?

in Brackets 1.13, when you install the plugin, your version of the SASS plugin works, but live pre

[2019-03-27 23:00] xTROOPERx commented on #169
I am using 2.0.7 with Brackets 1.13   I can't get my css file to update from the scss file

[2019-08-20 13:21] RobertKesseler commented on #205
bump.. same here since months
OS: Linux, Kubuntu 18.10 + 19.04

[2020-01-30 22:33] #196 closed, assigned to nobody

[2020-03-13 14:25] SMK-Siteo commented on #142
Hello,

I have the same issue since yesterday afternoon while yesterday morning everything was fine for months.
Now I have this error when I modify my partials files and if I .
If I go back to my main.scss file and save it, the partials files are modify but I lost lot of time go saving my main.scss file.

On my main.scss file I only have some imports for my partials

@import "helpers/variables";
@

[2020-05-31 19:15] Taariqq commented on #196
@flaviusemil did you find a solution or did you just move to another solution?
I am kinda new and trying to figure out if I should use this extension or not. Appreciate your answer.

[2020-05-31 20:45] Taariqq opened #209 "Like YouTube video, live preview?"
It would be really awesome if the .scss changes were shown in live-preview!

Also, is it a good idea to be using this extension in 2020?

[2020-06-02 21:28] webostap commented on #208
Большое спасибо за ссылку!  live previev работает, но для этого нужно выключить 'File->Enable Experimental Preview'
Thanks for Link! To start live preview, turn off 'File->Enable Experimental Preview'

[2020-06-30 22:53] edbonamigo commented on #176
I know this question is old, but i was searching and end up in this issue, so this is the solution i found:

https://blog.jim-nielsen.com/2013/preserving-css-comments-during-compression/

[2020-10-21 14:44] #81 closed

[2021-01-20 07:28] Ndeta100 opened #210 "I have issues importing my scss partial"
When i import my scss partial (@import('config') it doesn't read please i have been trying to figure this out for 3 days now but still can